[2020-04-14 14:03] bartekpacia opened #2 "Create CONRIBUTING.md file"
**Is your feature request related to a problem?**
`CONTRIBUTING.md` is the file where, by convention, new contributors can learn how to help develop the project.
It should include information like:
– it is necessary to follow the Issue and Pull Request templates
– use only the latest `stable` version of Flutter

There's definitely more to add there but those are the few I can think of currently.

[2020-04-14 14:28] isabelcosta opened #3 "Create Reporting Guidelines file"
**Is your feature request related to a problem?**

The project is missing Reporting Guidelines that should be the same in every repository.
Report Guidelines: https://github.com/anitab-org/anitab-org.github.io/blob/develop/reporting_guidelines.md

**Describe the solution you'd like**

Create a REPORTING_GUIDELINES.md in the root? or `.github` folder

**Describe alternatives you've considered**

N/

[2020-04-14 15:00] isabelcosta opened #4 "Create Code of Conduct"
**Is your feature request related to a problem?**

As a project within AnitaB.org Open Source Community, we need a code of conduct in the repository.

**Describe the solution you'd like**

The code of conduct should be the same as in every repo. Here is is the update one: https://github.com/anitab-org/anitab-org.github.io/blob/develop/code_of_conduct.md

**Describe alternatives you've considered**

[2020-04-14 16:22] techno-disaster commented on #3
https://github.com/anitab-org/mentorship-flutter/pull/5 done, @isabelcosta it looks like i don't have write access to this repo, so i will not be able to review PR's untill requested

[2020-04-14 17:29] techno-disaster commented on #3
added in #6 this also fixed the pull request template issue

[2020-04-15 20:53] isabelcosta commented on #3
@Techno-Disaster in the PRs while we are not using the PR template please put `Fixes #issue` so that GitHub recognizes that should close the issue

[2020-04-15 20:53] #3 closed

[2020-04-15 21:49] techno-disaster commented on #4
@isabelcosta this should be in the root folder right? or the .github folder?

[2020-04-15 21:52] isabelcosta commented on #4
I am not sure, it can be in either. What do you think? @Techno-Disaster

[2020-04-15 21:58] techno-disaster commented on #4
Lets follow the code style from the previous repos and keep it in the root folder itself. @isabelcosta

[2020-04-16 10:44] Techno-Disaster opened #8 "Create Github Action"
**Is your feature request related to a problem? Please describe.**
Adding this github action will make sure that none of the PRs include any changes which will break the app.

**Describe the solution you'd like**
Build a Github Action which will trigger a workflow to build an app on IOS and Android everytime we recieve a Pull Request

**Describe alternatives you've considered**
I have considered T

[2020-04-16 11:15] isabelcosta commented on #8
The feature request part could have some text ;) @Techno-Disaster

[2020-04-16 11:19] techno-disaster commented on #8
ah sorry, i have updated the issue @isabelcosta

[2020-04-16 11:21] isabelcosta commented on #8
@Techno-Disaster is perfect now :) 👏

[2020-04-16 11:28] Techno-Disaster opened #9 "Fix Pull Request Template"
**Describe the bug**
I tried renaming the file but still could not get the pull request template to work as it does in the other repos. This is the [pull_request_template.md](https://github.com/anitab-org/mentorship-flutter/blob/develop/.github/PULL_REQUEST_TEMPLATE/pull_request_template.md)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Pull Requests](https://github.com/anitab-org/

[2020-04-16 12:14] gaurivn commented on #4
I would like to work on this issue.

[2020-04-16 12:23] isabelcosta commented on #4
@gaurivn go ahead :) I will assign this to you.

[2020-04-16 13:22] #8 closed

[2020-04-16 15:25] Techno-Disaster opened #11 "Auto request review on PR"
**Is your feature request related to a problem? Please describe.**
Right now, a contributor has to manually request review from mentors on each PR he creates, some times he/she can forget this

**Describe the solution you'd like**
Github has a feature called CODEOWNERS. Basically github requests review from the people tagged in the CODEOWNERS file which we will have to create, automatically

**Add

[2020-04-16 15:25] techno-disaster commented on #11
@isabelcosta  should we add this feature?

[2020-04-16 16:02] bartekpacia commented on #9
[This might be useful](https://stackoverflow.com/questions/52139192/github-pull-requests-template-not-showing/52139815)

[2020-04-16 16:10] techno-disaster commented on #9
@bartekpacia would you like to work on this?

[2020-04-16 17:02] #11 closed

[2020-04-16 17:07] Techno-Disaster opened #13 "Publish app under Releases"
**Is your feature request related to a problem? Please describe.**
Once the app is built by the github action, we have to publish it under the releases tab for users without flutter to try out the app

**Describe the solution you'd like**
Once the app is built publish it under the releases tab of the repo

**Describe alternatives you've considered**
We could try Travis but i think we can do the sa

[2020-04-16 18:15] #4 closed

[2020-04-16 21:24] #9 closed

[2020-04-17 22:52] Techno-Disaster opened #19 "Update Readme"
**Describe the bug**
Readme currently has some old links to systers, and some other proprietary links, find them all and change them accordingly.
Reduce image size in readme as it takes up a lot of space.
**Expected behavior**
Readme should be updated with latest links to resources and information

[2020-04-18 14:11] isabelcosta opened #20 "Add a Contact section"
**Is your feature request related to a problem? Please describe.**

A new contributor that arrives to this repository may not be aware of where the community discusses projects other than GitHub, so its nice to have a Contact section just like there is for [anitab-org/mentorship-backend](https://github.com/anitab-org/mentorship-backend).

**Describe the solution you'd like**

Create a new section

[2020-04-18 14:46] nandini45 commented on #20
@Isabelcosta
Can I work on it??

[2020-04-18 14:51] isabelcosta commented on #20
sure you can :) @nandini45

[2020-04-18 15:25] gaurivn commented on #2
I would like to work on this issue.

[2020-04-18 15:28] techno-disaster commented on #2
@gaurivn  sure, remember to add what bartek has mentioned in his issue and change channel to beta instead of stable

[2020-04-18 15:32] gaurivn commented on #2
@Techno-Disaster , sure. I changed to beta channel, should I write the same instead of stable in CONTRIBUTING.md

[2020-04-19 21:36] #2 closed

[2020-04-22 20:34] #20 closed

[2020-04-30 21:28] mtreacy002 opened #25 "Update README with how to setup and run flutter instructions."
## Description
As a developer,,
I need to make sure contributors can setup and run flutter on their local machine so they can start contributing to the project,

## Mocks
N/A

## Acceptance Criteria

- [ ] Update README.md with setup instructions

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2020-04-30 21:28] gaurivn commented on #25
I would like to work on this issue.

[2020-04-30 21:29] mtreacy002 commented on #25
Go ahead, @gaurivn 👍.

[2020-04-30 21:30] gaurivn commented on #25
Thank you @mtreacy002 . I think I need @isabelcosta 's approval and be assigned this issue to work on it.

[2020-04-30 21:31] techno-disaster commented on #25
@mtreacy002 i think this a good "first time only" issue and @gaurivn has contributed earlier too.
Shouldn't we give others a chance? what do you think

[2020-04-30 21:33] mtreacy002 commented on #25
@Techno-Disaster, Ok... that sounds right. I don't have the triage level to the repo though, can you please add label on this? first-timer issue? sorry @gaurivn, didn't realise it at first. 😂

[2020-04-30 21:34] techno-disaster commented on #25
done @mtreacy002.

[2020-04-30 21:36] mtreacy002 commented on #25
👍 Thanks, @Techno-Disaster

[2020-04-30 21:40] gaurivn commented on #25
It's okay @mtreacy002 :joy: , I understand.

[2020-04-30 21:44] mtreacy002 commented on #25
Thanks for your understanding, @gaurivn. This issue is open to any "first-timer" who wants to work on it. I'm new to flutter so I want to learn too. 😉

[2020-04-30 21:44] Techno-Disaster opened #26 "Documentation Issue Template"
**Is your feature request related to a problem? Please describe.**
Recently wanted to create a issue to add something in the documentation, but both the feature request and bug report templates don't really fit properly for this problem
Editing documentation can sometimes fall under bug issue, but documentation definitely doesn't fall under features.
**Describe the solution you'd like**
Add a issu

[2020-04-30 21:46] techno-disaster commented on #25
@mtreacy002 do you want to solve this issue? should i assign it to you?

[2020-04-30 21:47] mtreacy002 commented on #25
I never use flutter before. I could give it a try. but I'm currently working on another issue on mentorship backend. So, I should pass this to someone else who's available. 😉

[2020-04-30 21:49] mtreacy002 commented on #25
And is first-timer related to Flutter only first-timer? If not, then I'm not eligible 😂

[2020-04-30 21:50] gaurivn commented on #26
@Techno-Disaster , can I work on this issue?

[2020-04-30 21:52] techno-disaster commented on #25
I would say this falls under the flutter first timer.But why aren't you eligible? I'm not sure if we have to consider your contributions in other repos as well to see if you qualify for a first timer task.
Can you confirm this @mayburgos
Thank You

[2020-04-30 21:53] techno-disaster commented on #26
@gaurivn this is a easy task
sorry forgot to add the first timers label

[2020-04-30 21:54] gaurivn commented on #26
Okay

[2020-05-01 00:13] bartekpacia commented on #25
IMHO we're discussing it too much. I'd just assign this issue to the first person who considers themselves a "first-timer", doesn't feel very comfortable with Flutter and wants to work on this :)

[2020-05-01 00:34] bartekpacia opened #27 "Finish RelationPage implementation"
**Is your feature request related to a problem? Please describe.**
Currently changing `available to mentor` and `needs mentoring` on the **RelationPage** doesn't have any effect.

![demo](https://user-images.githubusercontent.com/40357511/80771596-40dd9a80-8b54-11ea-92d6-38823b86e9b4.gif)

**Describe the solution you'd like**
I'd like this to work. I'd love this to work and be nicely coded :)

**A

[2020-05-01 00:40] bartekpacia opened #28 "Improve about app feature"
**Is your feature request related to a problem? Please describe.**
Currently about app feature looks displays very limited set of information.

![demo](https://user-images.githubusercontent.com/40357511/80771884-13452100-8b55-11ea-9573-af1ec384811c.gif)

**Describe the solution you'd like**
I'd like to have a full `AboutAppPage` with a lot of information about AnitaB, the awesome contributors and

[2020-05-01 11:25] isabelcosta commented on #25
@mtreacy002 has never contributed to this repository, so I totally consider Maya eligible for it. Want to work on this, since you want to learn this? We can assign it to you, since you also detected this problem of lack o documentation.

@Techno-Disaster thank you for promoting issues for first timers :) I am sure a lot of issues will come up.

[2020-05-01 12:03] HaripriyaB opened #32 "Internal server error while signing up"
**Describe the bug**
As a user,
When I attempt to signup for the mentorship app as a mentee it throws an internal server error and doesn't proceed further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SignUp
2. Click on SighUp after filling the form
3. See error snackbar toast saying Internal server error

**Expected behavior**
Remove the error and proceed with signup process to sig

[2020-05-01 12:06] isabelcosta commented on #32
Great @HaripriyaB thank you for creating this issue! 🎉
Knowing the password used here, could be helpful or not. Can you put it as text in the issue description?

[2020-05-01 12:08] mtreacy002 commented on #25
Thanks for the clarification, @isabelcosta. I thought @bartekpacia is going to work on this as per his [Zulip post](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Flutter/near/195941470). I'm also happy to help if need to, I'm trialling it atm on vscode. I'll wait for @bartekpacia confirmation 1st though. 😉

[2020-05-01 12:33] techno-disaster commented on #32
@isabelcosta does this work on the mentorship-android side? just want to make sure if its backend issue or a flutter client side issue

[2020-05-01 12:39] isabelcosta commented on #32
Yap :) @Techno-Disaster

| register                                                                                                                            | logged in                                                                                                                           |
|--------------------------------------------------------------------------------------------------------

[2020-05-01 12:43] isabelcosta commented on #32
@Techno-Disaster so its worth to see the logs of Flutter client when doing the registration, correct?

[2020-05-01 12:44] techno-disaster commented on #32
yes i will look into it asap.

[2020-05-01 12:46] isabelcosta commented on #25
Take the time to learn anyways and ask for help, this is assigned to you :)

[2020-05-01 13:07] gaurivn commented on #28
I would like to work on this issue.

[2020-05-01 13:08] gaurivn commented on #27
I would like to work on this issue.

[2020-05-01 13:43] bartekpacia commented on #25
@mtreacy002 If you want to proceed with this, go on :)

[2020-05-01 16:19] bartekpacia commented on #27
I'm on mobile and can't assign you, but...feel assigned and good luck :)

[2020-05-01 16:27] gaurivn commented on #27
Thank you @bartekpacia , @isabelcosta

[2020-05-01 16:48] HaripriyaB opened #33 "Internal Server error while logging in"
**Describe the bug**
As a user,
When I attempt to login for the mentorship app it throws an internal server error and doesn't proceed further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login page
2. Click on login after entering test credentials
3. See error snackbar toast

**Expected behavior**
Remove the error and proceed with login process to signin with the app.
**Screenshots

[2020-05-01 16:54] isabelcosta commented on #33
@Techno-Disaster this could or not be the same issue as the other, in terms of solution 🤷‍♀️

[2020-05-01 17:01] techno-disaster commented on #33
yes, should merge them? logging in and signing up in same issue. what do you think? @isabelcosta

[2020-05-01 17:04] techno-disaster commented on #28
Can i self assign this? would like to work on it.
cc @isabelcosta

[2020-05-01 17:05] HaripriyaB commented on #33
@Techno-Disaster  But How do we merge issues technically?

[2020-05-01 17:06] techno-disaster commented on #33
We can't merge, merge them xd. I meant should we manually make just 1 issue?

[2020-05-01 17:08] HaripriyaB commented on #33
Oh that can be done ... @isabelcosta should we merge them or leave 'em as 2 separate issues?

[2020-05-01 17:10] isabelcosta commented on #33
It can be closed this one, and referred in the other #32 .
But first, are you sure they are the same problem? Do you know the problem? What is it? @Techno-Disaster

[2020-05-01 17:15] techno-disaster commented on #33
@isabelcosta I haven't checked it yet but I'm 97% sure these warnings are due to the same error. Maybe @bartekpacia  can tell us something?

[2020-05-01 17:19] isabelcosta commented on #33
I am 97.5% sure as well, but until we actually now, because I don't, I think its good to create the habit of creating issues when something is buggy. In this way, people are active here and things are documented. So, in my opinion, we can leave this open. 🤷‍♀️ @Techno-Disaster

[2020-05-01 17:27] techno-disaster commented on #33
sounds good. Lets keep them both open.

[2020-05-01 17:28] isabelcosta commented on #28
go go @Techno-Disaster :)

[2020-05-01 17:36] bartekpacia commented on #33
Currently I have no idea why this might be happening. Will look into this tonight.

[2020-05-01 18:21] #13 closed

[2020-05-02 00:25] mtreacy002 commented on #25
Thanks, @isabelcosta and @bartekpacia for assigning me to the issue. I'm excited to learn more on this. actually I have my 1st question, @bartekpacia and @Techno-Disaster.

When I installed the flutter on my Android and when tried to register, came across same issue as [issue#32](https://github.com/anitab-org/mentorship-flutter/issues/32) so I decided to clone and run from IDE.

I cloned and tried

[2020-05-02 00:30] mtreacy002 commented on #25
PS: The Android emulator opened and standby for input when I ran the main.dart. It also came up with warnings below and asked if I want to proceed.

<img width="1341" alt="Screen Shot 2020-05-02 at 10 29 52 am" src="https://user-images.githubusercontent.com/29667122/80850581-ed587300-8c5f-11ea-9cb6-c4bf62a2b5c0.png">

[2020-05-02 00:31] mtreacy002 commented on #25
I think this is probably like those missing reference R things that normally happens in android studio.

[2020-05-02 00:39] bartekpacia commented on #25
@mtreacy002 what is your output of `flutter --version`?

[2020-05-02 00:40] mtreacy002 commented on #25
@bartekpacia ,

<img width="655" alt="Screen Shot 2020-05-02 at 10 39 51 am" src="https://user-images.githubusercontent.com/29667122/80850819-4c6ab780-8c61-11ea-9829-ee09779ecb38.png">

[2020-05-02 00:44] mtreacy002 commented on #25
Also, do I need to setup a virtual environment for this just like for mentorship-backend? atm I didn't create or use it for flutter

[2020-05-02 00:53] bartekpacia commented on #25
No, you don't need to setup any virtual environments like when using Python :)
Regarding the problem: I see that you're on the `stable` channel of Flutter. On this project we use the `beta` channel. It is not as stable as `stable`, but has faster access to the new features. You need to change it by typing:
`flutter channel beta`

BTW This situation is a great example of how desperately we a need s

[2020-05-02 00:57] mtreacy002 commented on #25
Ok. I switched to channel beta as your suggestion. it output red texts all over, is this ok?

<img width="876" alt="Screen Shot 2020-05-02 at 10 55 45 am" src="https://user-images.githubusercontent.com/29667122/80851212-9d7bab00-8c63-11ea-855c-fc04d1dc1a57.png">

Also, the error warnings still there

[2020-05-02 00:58] mtreacy002 commented on #25
Before changing to channel beta, I also tried to run on android studio. But before running can see the same errors exist there too.

<img width="989" alt="Screen Shot 2020-05-02 at 10 53 57 am" src="https://user-images.githubusercontent.com/29667122/80851241-ca2fc280-8c63-11ea-98e1-6b0f6b1ee503.png">

[2020-05-02 01:02] mtreacy002 commented on #25
Yayy.... I got the flutter running on the emulator with beta channel....
thanks heaps, @bartekpacia

<img width="1281" alt="Screen Shot 2020-05-02 at 11 02 05 am" src="https://user-images.githubusercontent.com/29667122/80851318-61951580-8c64-11ea-976e-5edd4e5685c5.png">

[2020-05-02 01:02] bartekpacia commented on #25
@mtreacy002 The red text is normal when updating/changing channel in Flutter.

And regarding the errors...hmm. Try doing `flutter clean` and then `flutter run` :)

EDIT Okay now I see you succeeded :D great!

[2020-05-02 01:03] mtreacy002 commented on #25
I'll try to do the flutter clean later after trying the signup first 😉

[2020-05-02 01:05] mtreacy002 commented on #25
wait,... @bartekpacia .. can we target local server with this flutter? where can I change the target server in the code? so I'll run the mentorship-backend at the same time.

[2020-05-02 01:13] mtreacy002 commented on #25
I registered and logged in successfully with dev server. 🎉 🥳

<img width="383" alt="Screen Shot 2020-05-02 at 11 11 17 am" src="https://user-images.githubusercontent.com/29667122/80851536-bf762d00-8c65-11ea-839c-42237451206c.png">

But still would love to connect to local server if possible coz it's easier to debug @bartekpacia and @Techno-Disaster as we don't have access to debug console on dev s

[2020-05-02 01:14] mtreacy002 commented on #25
Anyway, thank you very very much again, @bartekpacia to troubleshoot this with me. I'll work on the README.md setting up instructions now.

[2020-05-02 01:25] mtreacy002 commented on #25
alright. so, I noticed that VSCode IDE a bit slow to pick up changes. The error warnings were still shown even when I switched to beta channel.
On Android Studio, I noticed these error warnings disappeared straight away without refreshing the IDE( when I switched to beta from VSCode terminal).
With VSCode, I ran flutter clean but unable to remove the error warnings. Only when I closed the VSCode p

[2020-05-02 01:31] bartekpacia commented on #25
@mtreacy002 Server URL is hardcoded somewhere in code...if you perform search for "https" in Android Studio you should find the file and be able to alter it.

We need a better solution for this too.

[2020-05-02 02:40] mtreacy002 commented on #25
cool... I'll look into it @bartekpacia 😉

[2020-05-02 16:14] vibhuti019 commented on #33
Can I work on this issue ??

[2020-05-02 16:29] isabelcosta commented on #33
I would say yes :) cc @bartekpacia @Techno-Disaster
Although, do you know what the problem is here? @vibhuti019

[2020-05-02 19:31] #25 closed

[2020-05-03 00:47] bartekpacia commented on #33
I logged out, I logged in, *it worked on my machine*. Idk what might be causing it. Maybe it has something to do with your specific credentials.

[2020-05-03 00:49] bartekpacia opened #36 "MembersPage: strange FormatException"
**Describe the bug**
I just opened `MembersPage` and this showed up

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `MembersPage`
2. See strange error/don't see users

**Expected behavior**
It should display a list of all verified users.

**Screenshots**
<img width="334" alt="Screenshot 2020-05-03 at 2 44 16 AM" src="https://user-images.githubusercontent.com/40357511/80895748-95b21a00-

[2020-05-03 14:53] #19 closed

[2020-05-03 14:58] isabelcosta opened #37 "Update links to CoC, Contributing and Reporting guidelines README links"
## Description
As a first timer contributor,
I need guidelines to be up to date,
so that I can know how I can contribute to the community following current guidelines.

In the README file, links to Code of Conduct (CoC), Reporting guidelines and Contributing guidelines links have to be updated.

## Acceptance Criteria
### Update [Required]
- [ ] Update CoC link to point to CoC located on the flutt

[2020-05-03 15:09] bartekpacia commented on #37
Isn't it already done in #29?

[2020-05-03 15:20] isabelcosta commented on #37
I left a comment in the PR https://github.com/anitab-org/mentorship-flutter/pull/29#discussion_r419114407 @bartekpacia
I didn't want to bother you again with this little change, since its not wrong, just an improvement. I figured it was a good first timer issue

[2020-05-03 15:58] bartekpacia opened #38 "MembersPage: add search feature"
**Is your feature request related to a problem?**
Currently the searching functionality in the [MembersPage](https://github.com/anitab-org/mentorship-flutter/blob/develop/lib/screens/home/pages/members/members_page.dart) doesn't work.

**Describe the solution you'd like**
Adding the search feature like in [the Android app](https://github.com/anitab-org/mentorship-android).

A final solution should

[2020-05-03 16:25] isabelcosta commented on #33
I think I will download and test this then get a look inside this flutter app 👀

[2020-05-03 16:33] isabelcosta commented on #33
@bartekpacia @HaripriyaB Tested and this went well for me as well.
1. Downloaded this apk: https://github.com/anitab-org/mentorship-flutter/blob/apk/app-release.apk
2. Logged in with ursula / 12345678
3. Got into the logged screens of the app.

<img src="https://user-images.githubusercontent.com/11148726/80919809-f29ee600-8d63-11ea-923e-011c32e0ed2f.jpeg" alt="My Profile screen" width="300"/>

[2020-05-03 16:35] isabelcosta commented on #33
I tested this on my phone which is not android 9 I think.
What could have gone wrong here 🤔 @HaripriyaB @bartekpacia @Techno-Disaster
Should we test in this specific version? @HaripriyaB can you test on another device?

[2020-05-03 16:40] techno-disaster commented on #33
@isabelcosta  i tested it too, everything looks fine.
Currently running Android 10

[2020-05-03 16:43] techno-disaster commented on #28
@bartekpacia are the current licenses just place holders? also @isabelcosta can i remove the licences? we don't need them atm not before release ofc and they aren't even the proper licensees required ig

[2020-05-03 16:45] techno-disaster commented on #36
![Screenshot_20200503-221501535](https://user-images.githubusercontent.com/52817235/80920152-951e8f80-8d8b-11ea-8741-cbf5e5d5c415.jpg)
hmm, works fine on my end?

[2020-05-03 16:47] isabelcosta commented on #28
@Techno-Disaster  Will leave that decision up to y'all, I never heard of this feature. For me you can take it out, if this needs more thought

[2020-05-03 16:49] techno-disaster commented on #28
cools, i just wanted to know if we need to have some licenses in the app officially, like from AnitaB or something.

[2020-05-03 16:56] HaripriyaB commented on #33
@isabelcosta I think it works, I just now installed the apk from the link you sent:
![Screenshot_2020-05-03-22-48-15-61_92746fe779a9c2c81c5c767d4a402904](https://user-images.githubusercontent.com/34762451/80920882-43c4cf00-8d90-11ea-92ff-62ba32cccbbf.png)

[2020-05-03 16:58] isabelcosta opened #39 "Grey screen when click cancel on Send Request calendar widget"
**Describe the bug**

When I click the "Cancel" button on the Calendar widget of Send Request screen, the screen appears as grey, instead of normal "Send Request" screen.

**To Reproduce**

Steps to reproduce the behavior:
1. Log in with any user (e.g.: ursula / 12345678)
2. Go to Members screen
3. Select a member, and click to see their profile
4. Click the button "Send Request"
5. Click the cale

[2020-05-03 16:59] isabelcosta commented on #28
I don't know as of now, but its nice to bring that up on Zulip

[2020-05-03 17:04] isabelcosta opened #40 "Add User Story template to project"
**Is your feature request related to a problem? Please describe.**
User story template is missing and this can be great for well-defined issues and guiding contributors.

Link to raw template on backend repo: https://raw.githubusercontent.com/anitab-org/mentorship-backend/develop/.github/ISSUE_TEMPLATE/user-story.md

**Describe the solution you'd like**

Add User Story template to `.github/ISSUE_T

[2020-05-03 17:11] isabelcosta opened #41 "Improve Current Relation screen when user in not in a relation"
## Description
As a user of the app,
I need a coherent current relation screen UI,
so that I can have a nice user experience.

The Current Relation screen has the same UI components, when user is or is not in a mentorship relation. The tabs should not appear when the user in not in a relation.

This is only a functional issue, no need to replicate the style of the Android app.

## Mocks

| Android

[2020-05-03 17:17] nandini45 commented on #41
@isabelcosta can i work on this issue?

[2020-05-03 17:19] HaripriyaB commented on #33
So for login I can close this issue now. Pls confirm @isabelcosta

[2020-05-03 17:22] isabelcosta commented on #33
Cool @HaripriyaB thank you for checking. But what apk did you test previously? The releases one? Is that updated @bartekpacia, the apk that is on releases ?

[2020-05-03 17:23] #32 closed

[2020-05-03 17:25] HaripriyaB commented on #33
@isabelcosta Earlier I was testing with the apk sent by May in Zulip. May be that was not the updated apk. Now there is no problem with Login and signup process.

[2020-05-03 17:26] isabelcosta commented on #33
The last release was on January 21, when we still had the AWS server I think, so please use the link I showed here to test then. @bartekpacia or @Techno-Disaster  can you release a new apk under releases?

[2020-05-03 17:28] HaripriyaB commented on #33
Yeah @isabelcosta I will use the apk from apk branch which is the updated one.

[2020-05-03 17:29] techno-disaster commented on #33
@isabelcosta  the last build was 3 hours ago, and no changes have been made to the code since then.

[2020-05-03 17:30] techno-disaster commented on #33
@isabelcosta we should add a i have used the latest app release to test, checkbox in the bug /feature report issue template. What do you think?

[2020-05-03 17:31] isabelcosta commented on #33
@Techno-Disaster i am talking about this releases tab: https://github.com/anitab-org/mentorship-flutter/releases
The apk on the `apk` branch is updated for sure :)

[2020-05-03 17:35] HaripriyaB commented on #33
Yes. The apk from branch apk is updated. But the apk under releases is old which I was using it to test earlier.

[2020-05-03 17:36] techno-disaster commented on #33
Uploading

[2020-05-03 17:38] isabelcosta commented on #33
@HaripriyaB you did everything well :) I was the one who pointed everyone to the old one ;) i just updated QA team about it :) this was important for us to understand that for now its best to use the one on the branch, which is the most up to date, while releases, might be sometimes outdated

[2020-05-03 17:39] isabelcosta commented on #33
y'all can close this then :)

[2020-05-03 17:42] Techno-Disaster commented on #33
uploaded under releases tab. but i would recommend using the apk branch for the latest updates.

[2020-05-03 17:43] techno-disaster commented on #33
Uploaded to the releases tab.But i would recommend downloading from the apk branch for the latest releases.

[2020-05-03 17:43] #33 closed

[2020-05-03 17:49] Akanksha1212 commented on #37
Hi @isabelcosta, I would like to work on this issue.

[2020-05-03 17:51] isabelcosta commented on #37
Go ahead @Akanksha1212 :)

[2020-05-03 18:25] Sanika1999 commented on #40
Hi can I work on this @isabelcosta

[2020-05-03 18:31] bartekpacia commented on #36
Well, that's strange

[2020-05-03 18:35] bartekpacia commented on #40
Sure @Sanika1999 , good luck :)

@isabelcosta Is it okay when I assign people to work on issues? Or do we need your approval? I just want to help and take some work of triaging issues off you :)

[2020-05-03 19:09] isabelcosta commented on #40
@bartekpacia yes of course, especially when you are a maintainer of the repository :P You are one of the code owners / maintainers of this project, so you are more than welcome and also this is part of your work as maintainer of this flutter project :)

[2020-05-03 19:10] isabelcosta commented on #40
@bartekpacia My only thing, is when an issue is labeled as "First Timers Only", this means that the contributor assigned, is new to the repository. This is important for newcomers to feel motivated and get an opportunity to get acquainted with the repositories. If you only have issues for usual contributors, the project may not be as welcoming for first timers. @Sanika1999 is definitely new to the

[2020-05-03 19:29] Akanksha1212 commented on #37
Hi @isabelcosta, Thanks for letting me work on this issue. While updating README I noticed that COC link needs to be updated in Contributing.md as well which can be another first-timers-issue.

[2020-05-03 19:39] isabelcosta commented on #37
Nice catch  @Akanksha1212 :) can you create that issue?

[2020-05-03 19:42] Akanksha1212 commented on #37
Sure @isabelcosta

[2020-05-03 20:09] #37 closed

[2020-05-03 20:13] Akanksha1212 opened #44 "Update link to Code of Conduct"
## Description
In CONTRIBUTING.md link to Code of Conduct(CoC) needs to be updated

## Acceptance Criteria
### Update[Required]
- [ ] Update CoC link to point to CoC located in the flutter repository
## Definition of done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.
## Estimation
1 hour

[2020-05-04 02:37] techno-disaster commented on #36
@isabelcosta can you test this? also can we tag the qa team to test such things?

[2020-05-04 05:29] HaripriyaB commented on #44
I wish to work on it.

[2020-05-04 08:26] bartekpacia commented on #36
I tested it the on iPhone simulator, same result :/ (formatException blah blah).

[2020-05-04 08:38] vibhuti019 commented on #33
It is working for me as well I tested it on 9.0 and 8.0 in android emulator.

[2020-05-04 14:32] #44 closed

[2020-05-04 21:15] techno-disaster commented on #36
@bartekpacia i got this too. i also got the same error when i tried using curl and swagger to get the verified users list. Maybe it is a backend issue.
cc: @isabelcosta

[2020-05-04 22:41] mtreacy002 opened #46 "Bug: Dev server retrieve all users error"
**Describe the bug**
A clear and concise description of what the bug/problem is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the

[2020-05-04 22:44] #46 closed

[2020-05-05 08:00] bartekpacia commented on #36
indeed, it's more of a backend issue. We need to find out when it happens.

[2020-05-06 13:32] Techno-Disaster opened #47 "Add Travis Build Badge"
**Is your feature request related to a problem? Please describe.**
Follow the other AnitaB repos style and add a travis build status badge in readme
**Describe the solution you'd like**
Add the badge, you can refer to [this article](https://docs.travis-ci.com/user/status-images/) to do this.

PS : someone should start working on the documentation issue template issue #26 .This template does not fe

[2020-05-06 13:36] techno-disaster commented on #40
@Sanika1999 please use the Fixes #ISSUE_NO. as mentioned in the PR template. this closes the linked issue when PR is merged

[2020-05-06 13:36] #40 closed

[2020-05-06 13:39] Sanika1999 commented on #40
OK got it!

[2020-05-06 16:56] nandini45 commented on #41
@isabelcosta  I am working on this ˘issue. will update in few days.

[2020-05-07 13:32] gaurivn commented on #27
The issue is on Profile page and not Relation page right, I am still working on it.

[2020-05-07 14:12] gaurivn commented on #47
@Techno-Disaster , can I work on this issue?

[2020-05-07 14:14] bartekpacia commented on #27
You're right @gaurivn. I should realy be more focused when doing stuff.

[2020-05-07 14:15] bartekpacia commented on #47
@gaurivn Sure, good luck :)

[2020-05-07 14:16] techno-disaster commented on #47
@gaurivn you already have one issue assigned. #27 . what's the progress on that?
cc: @bartekpacia

[2020-05-07 14:30] bartekpacia commented on #47
I assume that he has enough time if he wants to work on these 2 issues.

[2020-05-07 14:39] techno-disaster commented on #47
I'm not sure if we should assign 2 issues to the same person at the same time. Someone else may loose the chance to contribute if we do so. Also i should have raised this issue before unassiging and relabelling sorry for that.
@isabelcosta what do you think about this ?

[2020-05-07 14:46] techno-disaster commented on #28
<details>
<summary>Current UI</summary>
<br>

![image](https://user-images.githubusercontent.com/52817235/81308223-28fb9e80-909f-11ea-97d2-61d6f5dcd750.png)

</details>

The about page is almost done. Please help me with the content we have to add in it by editing this [doc](https://docs.google.com/document/d/1YSwVkrj7YTkljVA1BjZ1CAcBU3QlOLxNl-A6SwDtpFU/edit?usp=drivesdk)

[2020-05-07 14:48] isabelcosta commented on #47
We have a rule I think of not letting people be assigned to multiple issues at the same time. The only exception I make is if the person already submitted the PR for one issue and is just waiting for reviewers... because I can take some time. So if @gaurivn is actively working on an issue, I would leave this to someone else. @Techno-Disaster @bartekpacia

[2020-05-07 14:49] techno-disaster commented on #47
Thank You for the clarification :)

[2020-05-07 14:55] gaurivn commented on #47
@Techno-Disaster , @isabelcosta , @bartekpacia , my progress on the other issue is that I tried changing the definitions of _availabletomentor and _needsmentoring many times over the past few days and even now but it's not working, the checkboxes remain checked as is shown on the issue. In that case I would like to be unassigned from the other issue and be assigned to this one.

[2020-05-07 20:47] bartekpacia commented on #28
Looks great @Techno-Disaster.
Regarding the licenses, they are real according to [the docs](https://api.flutter.dev/flutter/material/showAboutDialog.html). I'd leave them.

[2020-05-07 21:19] techno-disaster commented on #28
thanks Bartek.
also what data do i add to the page? current data is just some placeholder. I have asked several times to edit the doc, but no one's added anything. Should i keep the data like this for now? as its not really important. We can change it while releasing if required.
cc : @isabelcosta

[2020-05-07 22:26] bartekpacia commented on #28
@Techno-Disaster I meant that the "general scaffold" looks great. We can merge this as a base to serve for future improvements. Contributors will have an easier time adding new stuff there when the basics are already done :)

[2020-05-07 22:32] techno-disaster commented on #28
cools. will send a PR asap

[2020-05-07 22:33] bartekpacia commented on #47
@gaurivn Sure, that's okay :) so good luck with the current issue

[2020-05-08 00:10] Techno-Disaster opened #49 "Readme Cleanup"
**Describe the bug**
We missed removing the #Future part from readme last time. Remove that and i also found that we had a old backend link in our readme. Update the "hosted dev server link" to our new backend link which can be found [here](https://github.com/anitab-org/mentorship-backend)

Also the first time a contributor opens the folder he will get a lot of errors due to missing packages. We s

[2020-05-08 01:26] Techno-Disaster opened #50 "Add Splash Screen"
**Is your feature request related to a problem? Please describe.**
We see a black screen for the first 2-3 sec when we open the app. The Android version has a splash screen (mentorship logo) which prevents this.

**Describe the solution you'd like**
Add a Splash screen and a  circular loading indicator below it, to let the app start.

[2020-05-08 03:30] Techno-Disaster opened #51 "Profile Page Editing Bug"
**Describe the bug**
The page does not slide up, so if we select any options below location it gets hidden behind the keyboard (keep in mind this position is relative depending on your keyboard height and dpi)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile Page
2. Click on edit and try editing the last option

**Expected behavior**
The page should slide up or some solution whi

[2020-05-08 11:47] gaurivn commented on #47
Thank you @bartekpacia  and btw I am a "she", not "he" :sweat_smile:

[2020-05-08 11:56] isabelcosta commented on #47
@gaurivn thank you for correcting. This is helpful to avoid such mistakes :)

[2020-05-08 12:42] bartekpacia commented on #47
@gaurivn Oops, sorry for that! I used he because in my language it sounded like a "male name". Thanks for correcting, in the future I'll use gender neutral pronouns :)

[2020-05-08 13:43] #47 closed

[2020-05-08 13:59] Techno-Disaster opened #53 "Remove Travis "master" branch status"
**Describe the bug**
 PR #52 added travis build status badges, but it also included the badge for "master" branch which we will not be using atm and hence we have to remove it

**Expected behavior**
Have only "develop" branch build status in readme.

[2020-05-08 14:14] techno-disaster commented on #27
@bartekpacia how would we handle checkbox state in bloc? I was thinking we can create a custom stateful widget in a different class? so it can call setstate without rebulding the main page?
Is this the right/optimal way?

[2020-05-08 14:46] isabelcosta commented on #53
important to mention this PR https://github.com/anitab-org/mentorship-flutter/pull/52 was the one that added it @Techno-Disaster

[2020-05-08 14:50] techno-disaster commented on #53
updated

[2020-05-08 19:01] techno-disaster commented on #36
@bartekpacia yep its a backend issue. The PR for it is already up [here](https://github.com/anitab-org/mentorship-backend/pull/541). we should be able to close it once its merged.

[2020-05-08 19:03] techno-disaster commented on #36
We will have to change our side too. we have to specify page number in the request now

[2020-05-08 19:26] bartekpacia commented on #27
I'd use BLoc pattern instead of `setState()`.  Working solution using`setState()` is much easier to code but using BLoC we'll have cleaner code and arch in general.

[2020-05-08 19:30] #53 closed

[2020-05-08 19:32] #28 closed

[2020-05-09 03:14] techno-disaster commented on #50
@isabelcosta  i have finished my work on this, can i assign myself and send a PR?

[2020-05-09 10:55] bartekpacia commented on #50
@Techno-Disaster I think that by the rules, you should be assigned before working on this. but I might be wrong.

[2020-05-09 13:21] techno-disaster commented on #50
correction: i have finished most of my work on it.
But yes @bartekpacia , you are right i shouldn't have worked on it before getting assigned. Just didn't want to add another issue to the pile, because very few people are working on them.

[2020-05-09 13:25] bartekpacia commented on #50
I think that's okay, but we should try to avoid similar situations in the future.

[2020-05-09 14:21] robotjellyzone commented on #49
Hi @Techno-Disaster i think we can also add one more point in the READme that is when the user/contributor opens the cloned file in the android studio then at that time many errors/warnings may occur so to remove all those errors one should click **get dependencies** [ this will surely serve as a first timers issue for read me] what do you think ?

[2020-05-09 14:23] techno-disaster commented on #49
@robotjellyzone yep, thats a good idea. I'll add that in this issue

[2020-05-09 15:15] robotjellyzone opened #56 "Password Visibility Problem"
**Describe the bug**
The Password field and Confirm passwords field are becoming visible at the same time even when we are just removing the visibility of only one at a time which is not a normal functioning in the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign Up'
2. Fill the password
3. Fill the confim password
4. Click the eye against both fields
5. You will see on click

[2020-05-09 15:21] HaripriyaB commented on #56
Can I work on this? It's my first time contributing for code. @robotjellyzone

[2020-05-09 15:43] robotjellyzone commented on #56
Hi @HaripriyaB no you can't work on this as you have already worked on first timers issue which is this one #45 so, according to guidelines you can't even if it is coding one but still it is first timers only so, you can't work on this . i hope you can understand :)

[2020-05-09 16:55] HaripriyaB commented on #56
Okay chill. I accept. Thanks for the reply.

[2020-05-09 17:15] HaripriyaB commented on #39
Can I work on this? @isabelcosta

[2020-05-09 21:48] techno-disaster commented on #56
@robotjellyzone i think that is the way it should work. If you are confirming password you would like to see whats the diff in the two passwords at the same time right?
cc: @bartekpacia

[2020-05-10 02:00] robotjellyzone commented on #56
@Techno-Disaster as far as I have seen in other apps, this sort of thing was not there! I hope you must also have seen in other apps that if you click on the eye of one it should only make one to be visible at a time

[2020-05-10 06:48] techno-disaster commented on #56
@robotjellyzone I just think its more convenient for the user while setting up an account to see both the password feilds during confirm password.
@anitab-org/mentorship-flutter-maintainers-1 what do you suggest

[2020-05-10 06:50] techno-disaster commented on #41
@nandini45 can you update us on the progress of this issue?

[2020-05-10 11:57] isabelcosta commented on #39
@HaripriyaB yes :) will assign to you!

[2020-05-10 12:07] techno-disaster commented on #51
@anitab-org/mentorship-flutter-maintainers-1 can i work on this?

[2020-05-10 12:11] bartekpacia commented on #56
IMO the current behavior is OK.

[2020-05-10 12:13] bartekpacia commented on #51
Nobody else wants to do this, so I think it's okay. Good luck :)

BTW Are maintainers allowed to self-assign PRs? @isabelcosta

[2020-05-10 12:15] techno-disaster commented on #51
Nope, but i think we can ask other maintainers to assign it.

[2020-05-10 12:17] bartekpacia commented on #51
hmm, okay👀

[2020-05-10 12:17] isabelcosta commented on #49
Here's the raw notes from the Flutter setup session regarding improvements to the env setup documentation:

- for example, if I don’t have Android Studio, how could I have AVD (virtual device). Refer:(https://stackoverflow.com/questions/42718973/run-avd-emulator-without-android-studio)
- `flutter pub get` in the README
- Section to run the project, either on the virtual device or physical device
-

[2020-05-10 12:18] techno-disaster commented on #56
Yes, i think we can close this issue. Feel free to open it incase you feel otherwise

[2020-05-10 12:18] #56 closed

[2020-05-10 12:21] isabelcosta opened #58 "Create documentation about iOS setup / run"
## Description

As an iOS developer,
I need to know how to setup / run the app in a iOS environment / device,
so that I can contribute to the iOS part of the application.

Maybe we could create a separate markdown document and mention that in the README.

## Acceptance Criteria
### Update [Required]
- [ ] Create a markdown document explaining setup for iOS

## Definition of Done
- [ ] All of the r

[2020-05-10 12:22] robotjellyzone commented on #56
This sort of issue is not there even on mentorship-android @Techno-Disaster but that's ok if you think its not an issue .

[2020-05-10 12:31] isabelcosta opened #59 "Single option mentorship availabiliy at Sign Up"
## Description

As a user just signing up,
I need a clear definition of the roles I can have in the app,
so that I can start benefiting from the app.

Android app already has this option, so you can follow it.

## Screenshots of the issue

Android version:

![android version of this issue](https://user-images.githubusercontent.com/11148726/81499262-3c3a8400-92c2-11ea-9aad-ca087ddad551.png)

Flutte

[2020-05-10 12:40] isabelcosta opened #60 "Add links to Terms, Policy and CoC on Sign Up screen"
## Description

As a user of the system,
I need to have links to terms and conditions on Register screen
so that I can be aware of Terms of use, Code of Conduct and Privacy Policy.

On Registration Screen we need to have a proper text with the Terms and Conditions check box.

Text:

"By checking this box, I affirm that I have read and accept to be bound by the AnitaB.org Code of Conduct, Terms, an

[2020-05-10 12:41] isabelcosta commented on #60
@bartekpacia @Techno-Disaster let's leave this to a newcomer, I have no idea the complexity of this, but with your guidance, I feel a newcomer could do this

[2020-05-10 12:44] techno-disaster commented on #60
yep, looks easy. Lets see if anyone picks it up

[2020-05-10 12:46] techno-disaster commented on #60
unless that also requires bloc implementation.  🤦. Will have to check.

[2020-05-10 12:57] isabelcosta opened #61 "Change link to commit message guideline on CONTRIBUTING.md"
## Description
As a contributor,
I need to know the commit message style guide,
so that I can contribute according to guidelines.

The current link on CONTRIBUTING.md redirects to mentorship-android

## Acceptance Criteria
### Update [Required]
- [ ] Replace the current Commit Message Style Guide link for this link: https://github.com/anitab-org/mentorship-flutter/wiki/Commit-Message-Style-Guide

[2020-05-10 18:47] bartekpacia commented on #27
I was asked on the Mentorship Flutter setup session to fix this, so I'm assigning this to myself.

[2020-05-10 18:53] HaripriyaB commented on #39
@isabelcosta I get to see this when I reproduce this issue.
Is it a problem from backend??

![Screenshot_1589136682](https://user-images.githubusercontent.com/34762451/81507823-813fd400-931d-11ea-9a80-a66b26ea1d33.png)

[2020-05-10 19:21] isabelcosta commented on #50
Its fine @bartekpacia @Techno-Disaster :) thank you @bartekpacia for advocating for us following the community guidelines

[2020-05-10 19:28] isabelcosta commented on #39
@HaripriyaB it is :) I hope to solve this with using pagination in the backend https://github.com/anitab-org/mentorship-backend/pull/541

[2020-05-10 19:33] HaripriyaB commented on #39
okay so I'll wait till the backend is fixed :-) Do ping me if this backend issue is fixed.

[2020-05-10 20:00] isabelcosta commented on #36
@bartekpacia @Techno-Disaster it is a backend issue, sometimes the Heroku server responds badly. One of the reasons is that we don't have pagination implemented in the backend which means that everytime we call `GET /users` the entire database of users is queried and the entire list of users is returned, which is too much sometimes for the Heroku server

[2020-05-10 20:01] techno-disaster commented on #36
so can we close this issue @isabelcosta ?

[2020-05-10 20:03] isabelcosta commented on #36
Not sure, this is still an issue. If someone reports this again because they don't see this open, then we have duplicated issues @Techno-Disaster I think we can leave this open with a special label.

[2020-05-10 20:04] isabelcosta commented on #36
@Techno-Disaster I removed available issue, because apparently there is nothing to do here, but "On Hold" because we are waiting on https://github.com/anitab-org/mentorship-backend/pull/541

[2020-05-10 20:04] techno-disaster commented on #36
makes sense . 👍

[2020-05-10 20:07] #50 closed

[2020-05-11 13:48] gaurivn commented on #58
I would like to work on this issue.

[2020-05-11 16:30] techno-disaster commented on #58
@isabelcosta what difference between android and iOS app running should be mentioned?just the running of a virtual device on mac, using xcode? Because the flutter run command is same for both platforms, and installing flutter on a mac is already there on the readme.

[2020-05-11 16:31] Techno-Disaster commented on #58
just the running of a virtual device on mac, using xcode?

[2020-05-11 16:32] isabelcosta commented on #58
Yap @Techno-Disaster :) that is it.

[2020-05-11 16:35] techno-disaster commented on #58
can you please specify this in the issue body. Because most of the setup/ run part using flutter run is done already in the current readme, so people might get confused on what they have to do.

[2020-05-11 16:51] nandini45 commented on #41
yeah sure @Techno-Disaster  i was having some issue in testing the app locally
but after watching yesterday's session i am running it again.
because of my other commitments i couldn't text you back.
i will solve the issue and submit the PR asap

[2020-05-11 16:51] gaurivn commented on #58
@isabelcosta , can instructions to run iOS apps with Flutter on iOS devices (since iOS emulators require Mac) from Linux machine be included? Please check [here](https://stackoverflow.com/questions/40567540/is-it-possible-to-develop-ios-apps-with-flutter-on-a-linux-virtual-machine). I haven't run so far. Had a doubt cause Flutter does not come with iOS on Windows android studio but it has an iOS f

[2020-05-11 18:12] sakshivij opened #62 "Separate Installations Readme"
**Is your feature request related to a problem? Please describe.**
Current Readme file contains everything about the project with it's setup. There are various steps that are missing and can be improved.

**Describe the solution you'd like**
I would like to propose a separate markdown file that would contain details about the project setup along with GIF's to increase readability. One more benefit

[2020-05-11 18:16] isabelcosta commented on #62
@sakshivij I am happy to assign this to you, I just have one doubt. What is the scope of the installation documentation? Which environment do you wish to focus on?

[2020-05-11 18:17] sakshivij commented on #62
@isabelcosta Both. Apart from that I would also like to add GIF which explain how to install various dependencies, that makes the process whole lot easier to understand.

One example is the flutter and dart plugin.. that needs to be installed first time

[2020-05-11 18:19] isabelcosta commented on #62
That would be awesome @sakshivij :) thank you for proposing this 🤗 I love when people give this much attention to documentation!

[2020-05-11 21:39] techno-disaster commented on #58
@gaurivn you cannont have a ios emulator on a linux machine, there might be some hacks around it, not that i know off but apple just dosen't allow this. Also I'm not sure what you have found in the stackoverflow link, but the iOS folder is created when you do ```flutter create <appname>``` .

[2020-05-11 21:42] techno-disaster commented on #41
@nandini45  cools

[2020-05-11 21:47] gaurivn commented on #58
@Techno-Disaster , okay I get what you said. I'm sorry, my mistake I thought I could run the iOS app on an iOS device from Linux.

[2020-05-12 12:52] nandini45 commented on #41
@Techno-Disaster  i had a question i only have to remove the details and task section and then add a button for finding members . right?

[2020-05-12 12:54] nandini45 commented on #41
@Techno-Disaster  i have to only remove the tab right?
do i have to add button for finding members also?

[2020-05-12 14:44] techno-disaster commented on #41
@nandini45 please check the acceptance criteria in the issue.
you have to add the find members button if the user does not have a relationship else show the tabs

[2020-05-12 20:11] bartekpacia commented on #41
@nandini45 If you have any problems, feel free to ask, we'll try to help and explain stuff.

[2020-05-12 21:57] bartekpacia opened #63 "Don't track generated files"
**Describe the problem**
Some of the code in this project(boilerplate to communicate with the API) is generated using [chopper](https://pub.dev/packages/chopper) package. This isn't a good practice, because generated code shouldn't be included under VCS like Git (for those who have experience with JS, it's like including `node_modules`).

Photo example:
<img width="307" alt="Screenshot 2020-05-12

[2020-05-12 22:19] techno-disaster commented on #63
looks like a good first timer task :)

[2020-05-12 22:53] bartekpacia commented on #63
You're right @Techno-Disaster, I didn't think about this.

[2020-05-12 23:14] bartekpacia commented on #27
Well, after investigating this, I feel the weight of the technical debt I created while speed-coding this👀. The whole `ProfilePage` is just pure garbage.
The best part is that I feel I don't have enough knowledge / feel confident enough to come up with a proper solution for this. I'll do some advanced BLoC tutorials in the near future and then try to fix this.
Any help/ideas are appreciated.

[2020-05-13 09:08] techno-disaster commented on #27
we can always rebase to using setstate 👀

[2020-05-13 18:21] techno-disaster commented on #51
3 day update: Still working on the issue, was stuck with some other stuff will try to complete this by tommorow

[2020-05-13 19:21] HaripriyaB opened #64 "Add a cancel button to the “change password” alert box."
## Description
As a user, I need a cancel button on change password alert box which can take me back if I prefer not to change my password.

## Screenshots of the issue
![Screenshot_2020-05-13-23-26-44-77_92746fe779a9c2c81c5c767d4a402904](https://user-images.githubusercontent.com/34762451/81855367-e5ac9e80-957c-11ea-9884-c30a84d2959f.png)

## Acceptance Criteria
- [ ] Include a cancel button left

[2020-05-13 19:32] HaripriyaB opened #65 "Add an alert box with a cancel / confirm button to when user wants to logout."
## Description
As a user, I need an alert box when I click on logout to confirm/cancel logout activity. The current state is that when I click logout it directly takes me to login page without any confirmation.

## Screenshots of the issue
![Record-2020-05-13-23-29-26-92746](https://user-images.githubusercontent.com/34762451/81856251-2b1d9b80-957e-11ea-87af-22e04ecc4083.gif)

## Acceptance Criteri

[2020-05-13 20:38] isabelcosta commented on #65
@HaripriyaB your issue description is amazing with that GIF 👏👏👏

[2020-05-13 20:39] isabelcosta commented on #64
@HaripriyaB 👏 👏 👏 very good issue description!

[2020-05-13 23:02] techno-disaster commented on #64
@anitab-org/mentorship-flutter-maintainers-1 can i work on this?

[2020-05-13 23:39] bartekpacia commented on #27
Yeah, we `could`, but I'd like this to follow best practices so people can learn something.

But maybe BLoC is too complex for this use-case. Idk honestly. Recently, in one of my personal projects I started using [provider](https://pub.dev/packages/provider) and it's awesome and introduces much less boilerplate than BLoC.
Do you have experience with provider @Techno-Disaster?

[2020-05-13 23:41] techno-disaster commented on #27
@bartekpacia sadly no. i have been planning to learn these since a month, but something keeps popping up, preventing me to learn it. Lets see if i can start it again this week 🙂

[2020-05-13 23:42] ghost commented on #60
Hey @isabelcosta !
I'm Mahe. Can I please try resolving this issue?

[2020-05-13 23:45] techno-disaster commented on #60
@MaheKhan  sure. assigned it to you

[2020-05-13 23:55] bartekpacia commented on #27
Sure, no problem! It's really complex topic IMO so don't hurry, take your time doing tutorials etc.
I'm currently busy too but this issue the back of my head.

[2020-05-13 23:57] bartekpacia commented on #64
I think this would be a good `First timers` issue because it's relatively easy. (And if no `first timer` decides to work on this in, say, a week, then it could be assigned to @Techno-Disaster )

[2020-05-13 23:59] techno-disaster commented on #64
makes sense, i wish too see new people start contributing soon too.

[2020-05-14 00:25] techno-disaster commented on #59
@isabelcosta are you sure this option is available on the android client sign up page? I just checked and mine dosen't have it. To be clear i'm running the latest build from apk branch of mentorship-android

[2020-05-14 00:32] Techno-Disaster opened #67 "Add loading indicators"
## Description
As a user I would like to see the status of various tasks, like changing password, saving profile,etc
I would like to see a loading indicator when the process is running, instead of just a snack bar once the process has finished.
The following are the tasks where i would like to see it:
1. Change password
2. Saving profile.
3. (will add more incase I find any, feel free to add other

[2020-05-14 00:34] techno-disaster commented on #67
I hope some first timer picks this up, if not I'll ask the other maintainers to assign it to me :) good luck

[2020-05-14 07:59] HaripriyaB commented on #65
Can I pick up this issue as a coding team member? Can anyone assign me for this issue?

[2020-05-14 09:25] bartekpacia commented on #65
@HaripriyaB okay, go on!

[2020-05-14 09:35] rashrey2308 opened #68 "Add a message for no mentorship requests"
**The bug**
When there are no pending / past / all mentorship requests, it displays a blank screen.

**Steps to reproduce the behavior:**
1. Login
2. Click on requests (the last icon on the bottom)
3. See the blank screen when you do not have any requests.

**Expected behavior**
It should show a message, saying “you don’t have any pending requests”.

**Screenshot**

![Screenshot (49)](https://user

[2020-05-14 12:31] techno-disaster commented on #68
@anitab-org/mentorship-flutter-maintainers can I work on this?

[2020-05-14 12:59] bartekpacia commented on #68
If you don't have any other PRs assigned at the moment, then go on.

[2020-05-14 14:06] techno-disaster commented on #68
@bartekpacia i have issue #51 assigned to me, but the PR #66 is already up. Can you assign it to me?

[2020-05-14 14:24] bartekpacia commented on #68
Sure!

[2020-05-14 17:10] ghost commented on #60
Hey @Techno-Disaster !
I tried following the step by step instructions given here:   https://github.com/anitab-org/mentorship-flutter
After installing Flutter SDK and Android SDK, I cloned the mentorship-flutter repository on my system. I opened it on my external IDE (ATOM). I switched to the beta using 'flutter channel beta' command.
When I then give the 'flutter run' command in the flutter conso

[2020-05-14 17:15] techno-disaster commented on #60
@MaheKhan  cd into the app directory

[2020-05-14 17:34] ghost commented on #60
Yes, thankyou.

[2020-05-14 19:17] ghost commented on #60
Yayy! I was finally able to run the flutter app on my system.
![mentorship-flutter](https://user-images.githubusercontent.com/44665174/81975980-7b136580-9645-11ea-8440-0dfc65ec447a.png)
It might not be a big achievement, but I am just glad I didn't give up midway and finally got the app running.

[2020-05-14 19:18] ghost commented on #60
Now, I myself can see the issue mentioned in the description by @isabelcosta .

[2020-05-14 19:21] ghost commented on #60
I think it's the register_screen.dart file in the register folder of the repository that would require the changes. Am I correct, @Techno-Disaster ?

[2020-05-14 19:22] ghost commented on #60
I was googling how to add hyperlinks to text in dart files.
So that I could convert the phrases; Code of Conduct, Terms, and Privacy Policy; into hyperlinks.

[2020-05-14 20:51] techno-disaster commented on #60
yes @MaheKhan . Great work until now, keep it up 👍

[2020-05-14 22:48] isabelcosta commented on #60
@MaheKhan great to see @Techno-Disaster is helping you out :) Excited to see you working on this issue 🤗

[2020-05-14 22:58] techno-disaster commented on #60
@MaheKhan we have already used url_launcher in the project. You can refer to this [stackoverflow](https://stackoverflow.com/questions/43583411/how-to-create-a-hyperlink-in-flutter-widget) link incase you are stuck

[2020-05-15 00:00] techno-disaster commented on #59
Any ways this looks like a useful feature. @anitab-org/mentorship-flutter-maintainers  can I work on this? :)

[2020-05-15 00:31] isabelcosta commented on #68
@rashrey2308 I see you created this issue 👏 you did it very well! 🎉

[2020-05-15 00:33] isabelcosta commented on #59
@Techno-Disaster the PR is still being made in a PR. So its soon to be done. I will assign this to you, since the other issue you were assigned is done

[2020-05-15 00:34] techno-disaster commented on #59
cools. I will start working on this asap

[2020-05-15 01:21] isabelcosta commented on #51
@bartekpacia @Techno-Disaster this would be a good approach. I just want to make sure we are doing this a community project and give the opportunity to others to work on it, and contribute with flutter if they wish to. You can claim it after creating the issue, but making sure someone knows about it. And also claim one at a time, instead claiming multiple issues at once.

There were occasions wher

[2020-05-15 01:28] techno-disaster commented on #51
@isabelcosta yes we are following the "you cannot assign yourself to your issue" policy as discussed in the zoom sessions. Also we are only allowing a person to claim 2 issues once the PR for the previous issue has been submitted according to the Contributing guidelines. I hope this is how it's meant to be.
cc : @bartekpacia

[2020-05-15 09:34] ghost commented on #60
Hey, @Techno-Disaster !
I was able to convert the desired pieces of text into hyperlinks. I used 'GestureDetector' widget.
![yay](https://user-images.githubusercontent.com/44665174/82035222-dfbdd700-96bc-11ea-931d-279c6bb15b7d.png)
When clicked, the hyperlinks cause browser to open those respective webpages.
![yay2](https://user-images.githubusercontent.com/44665174/82035370-0d0a8500-96bd-11ea-960

[2020-05-15 13:16] techno-disaster commented on #60
@MaheKhan Try using Richtext. All the widgets you will need are already there in the stack overflow link i commented earlier

[2020-05-15 13:34] rashrey2308 commented on #68
Thankyou so much @isabelcosta <<33

[2020-05-17 01:42] ghost commented on #60
Hey, @Techno-Disaster ! Instead of using GestureDetector, I now used RichText ; like you told me to.
But, I am unable to fix the text overflow issue. The stackoverflow link you provided, and many others I searched, none of them helped me.
I tried wrapping the row using 'Wrap', but to no avail.

[2020-05-17 01:44] ghost commented on #60
I tried using Expanded and Flexible too.

[2020-05-17 01:44] ghost commented on #60
Please guide me some more.

[2020-05-17 18:20] ghost commented on #60
Okay, It's done!!!!! <3

[2020-05-17 18:22] ghost commented on #60
![final_mentorship](https://user-images.githubusercontent.com/44665174/82156577-7515c280-9899-11ea-8b0d-4ad64da8666c.png)

[2020-05-17 18:44] techno-disaster commented on #60
Great work figuring it out yourself @MaheKhan . was busy so couldn't help you earlier but congrats :100: Next steps: make a PR :)

[2020-05-17 18:49] ghost commented on #60
Hey, @Techno-Disaster.

I improved it a bit.
Earlier the check box was not aligned with the text.
Now, it is!
![kardala](https://user-images.githubusercontent.com/44665174/82157083-ff135a80-989c-11ea-976f-96b03c0b051d.png)

[2020-05-17 18:54] ghost commented on #60
@Techno-Disaster , would you please help with making a PR?
I haven't done it before.

[2020-05-17 18:59] techno-disaster commented on #60
@MaheKhan sure, first push your local changes to your forked github repo, then head on over to [pull requests](https://github.com/anitab-org/mentorship-flutter/pulls), click "New Pull Request". Select "compare across forks" and select your fork, then click "create pull request" . A template should load up for you. Make the required changes in the template, and click Create Request and you are done

[2020-05-17 19:12] #65 closed

[2020-05-17 19:48] ghost commented on #60
Done. Made my first PR!
Please tell me what you think of it.

[2020-05-17 21:39] techno-disaster commented on #41
Hey, @nandini45 any updates on where you are with this issue?

[2020-05-17 21:41] techno-disaster commented on #62
Hey @sakshivij , can you update us about where you are with this PR?

[2020-05-17 21:43] techno-disaster commented on #67
completed all PRs apart from first timers, also looks like no one wants to pick this up. so.. @anitab-org/mentorship-flutter-maintainers  can I work on this? :smile:

[2020-05-17 21:49] Techno-Disaster opened #76 "Add confirm password field and see password feature to change password popUp."
## Description
As a user I would like to see what password I'm typing and would like to confirm it, so that i don't have to change password again incase of a typo while changing the password.

## Acceptance Criteria
### Update [Required]
- [ ] Added confirm password feature
- [ ] Added see password feature

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2020-05-18 01:22] MaheKhan commented on #60
Hey, @isabelcosta !
Please review my PR. :)

[2020-05-18 08:27] bartekpacia commented on #67
go ahead @Techno-Disaster

[2020-05-18 15:40] MaheKhan commented on #60
@Techno-Disaster, hey! Please review my PR. :)

[2020-05-18 15:41] techno-disaster commented on #60
Yes @MaheKhan , working on it. Need to make sure everything is right

[2020-05-18 15:48] MaheKhan commented on #60
Yes, Yes. Indeed.
Thanks, @Techno-Disaster !

[2020-05-18 17:20] sakshivij commented on #62
It's work in progress. I'm submitting an initial PR for review within few hours.

[2020-05-19 17:42] MaheKhan commented on #60
Hey, @Techno-Disaster ! I know you must be really busy with your own work and life and might not have the time to review my PR.
But, this happens to be my first PR ever. And I am very anxious and nervous about it.

[2020-05-20 19:54] ghost commented on #64
Can I try working on this, please? @isabelcosta , @bartekpacia

[2020-05-20 19:57] HaripriyaB commented on #64
sure @MaheKhan assigning to you.

[2020-05-20 20:02] ghost commented on #64
Thankyou, @HaripriyaB !

[2020-05-21 05:20] MaheKhan commented on #64
@bartekpacia , would you please help me a little?

[2020-05-21 05:43] ghost commented on #64
@bartekpacia , @HaripriyaB , @isabelcosta :

![cancel_button](https://user-images.githubusercontent.com/44665174/82527380-eed8d500-9b53-11ea-85be-3f25e5a95a3e.png)

Did it! Yayyyyyyyyyyyy!!!!! <3 :)
On clicking 'Cancel', the dialog box closes and the changes to password are not saved.

[2020-05-21 05:54] HaripriyaB commented on #64
@MaheKhan great you did it! 🥇
Now can you issue a Pull Request mentioning this issue number #64 ?

[2020-05-21 06:18] ghost commented on #64
Hey, @HaripriyaB !
I am new to git and GitHub.
I made a mistake, instead of making a PR, I made a commit.
How do I undo the commit?

[2020-05-21 06:46] ghost commented on #64
Okay. I reverted the commit.

[2020-05-21 09:09] techno-disaster commented on #64
looks like i accidentally created a double of this at #76 . will change it to confirm password field issue only

[2020-05-21 09:25] techno-disaster commented on #64
also @MaheKhan sorry but this is a first timers only so you can't work on it. @HaripriyaB please check if a contributor has a PR open or merged before assigning them to a first timer

[2020-05-21 09:25] techno-disaster commented on #76
will waiit for first timers to pick this up

[2020-05-21 09:27] HaripriyaB commented on #64
oh that was my mistake. sorry about that!

[2020-05-21 09:30] techno-disaster commented on #58
@isabelcosta this looks sane as #62 which already has a PR #78 up. closing this for now. Feel free to open it if there is some issue.
Thank You

[2020-05-21 09:30] #58 closed

[2020-05-21 09:32] techno-disaster commented on #41
@nandini45 as we have received no updates from you regarding this issue I am unassiging you now. Thank You

[2020-05-21 09:40] techno-disaster commented on #67
3 day update : almost finished working on this locally kinda stuck due to a git issue

[2020-05-21 09:49] nandini45 commented on #41
I was learning dart.. I am sorry. I will work on any other issue.

[2020-05-21 09:56] techno-disaster commented on #41
@nandini45  if you are just starting with flutter i would recommend you start with a first timer issue

[2020-05-21 11:22] nandini45 commented on #41
I solved a first timer issue. when the team started with this repository.
i was having some issues in solving it but because of my other works. i couldn't focus on it and update within a 3 days time lapse. if you permit i will solve it again today and ask for any issue i faced

[2020-05-21 13:19] ghost commented on #64
Hey, @Techno-Disaster ! Funny how you didn't see this was a first-timer-only issue when you begged @bartekpacia to assign it to you 8 days ago.

[2020-05-21 13:20] MaheKhan commented on #64
@Techno-Disaster , Even funnier that had I not requested to be assigned yesterday, this issue would have been assigned to you. And surely if we keep first timer aside, I am more deserving of this issue than you.

[2020-05-21 13:26] ghost commented on #64
@Techno-Disaster , Even funnier that had I not requested to be assigned yesterday, this issue would have been assigned to you. And surely if we keep first timer aside, I am more deserving of this issue than you. You, who according to what your profile says, is a 'Pro'.
I'll tell you what else you are, you are clever, greedy, cunning, and ambitious.
You took three days to respond to my comments abo

[2020-05-21 13:53] techno-disaster commented on #64
I am sorry, but I only "asked" @bartekpacia  if I could work on it, we did not have a First timer badge on the issue at that time. I have no intention of working on this PR as i already have a issue assigned to me (#67).
The "Pro" is just a "Github Education" badge and i have never flexed about it.

Reveiwing PRs takes more time than closing a PR/issue or unassigning someone. PR reviews can extend

[2020-05-21 14:33] ghost commented on #64
@Techno-Disaster
Yes. You did ruin my first contributing experience.
Why did you have to unassign me when I had already invested time and solved the issue?
Sure you wouldn't have been so careful about only a first timer getting this issue assigned to them, had I not requested assignment yesterday and YOU would have been assigned to the issue.

[2020-05-21 14:36] ghost commented on #64
Can you not imagine how discouraging it is when you are very new to open source contribution, you learn a new skill (flutter in this case) to solve issues for your favourite organization, you put in time and effort to solve an issue, you are excited about making a successful PR, and then you suddenly get unassigned!

[2020-05-21 14:38] ghost commented on #64
@Techno-Disaster
You are the maintainer here, you could have been kinder to me and not unassigned and let me work on this issue!
I am so new to this, I am as good as a first timer!

[2020-05-21 15:00] techno-disaster commented on #64
@MaheKhan If we allow this, then anyone will finish a PR and say we have already made the PR just assign it to me now. This is the exact opposite of how we are supposed to hande an issue.
Rules are rules, and technically your first contribution is issue #60 , PR #73

To be honest, it just feels like you are buttering up people to side you.

Like i said earlier, sorry if i was harsh but what if a l

[2020-05-21 15:12] krypticallusion commented on #64
Can i contribute? I am a noob at flutter. Started recently :nerd_face:

[2020-05-21 15:19] ghost commented on #64
I don't know which people you are talking about. I am speaking only with you.

 No. I was first 'assigned'  then I made the PR.

PR #73 does has 152 addtions 102 deletions, so you won't be "so new" to this

But, according to what batrek promised you would have been assigned this issue had I not requested an assignment yesterday. You wouldn't have mind that, I'm sure. And you wouldn't have acted 't

[2020-05-21 15:52] MaheKhan opened #80 "The passwords must be hidden during 'change password'."
While changing my password, as a user, I wouldn't want my passwords (both current and new) to be visible.

![passwordshow](https://user-images.githubusercontent.com/44665174/82577661-eb236d80-9ba8-11ea-9759-2d72b83274f0.png)

Changes should be made so that the passwords are not visible.

[2020-05-21 15:57] MaheKhan opened #81 "There should be a 'forgot password' option on the login page."
As a user, in case I forget my login password, there should be an option to change it on the login page.
![forgot](https://user-images.githubusercontent.com/44665174/82578287-d693a500-9ba9-11ea-8f43-9e91fe69da22.png)

[2020-05-21 17:19] mayburgos commented on #64
@MaheKhan Hello!

This particular issue has been raised to the @anitab-org/admins attention. We really appreciate that you took the time to solve one of our issues. I'm really sorry to hear about you feeling disappointed about our processes.

As a reminder, we follow a [Code of Conduct](https://github.com/anitab-org/mentorship-flutter/blob/develop/code_of_conduct.md). Our expected behavior lists:

[2020-05-21 17:46] techno-disaster commented on #80
Closing now because it looks like a duplicate of #76 . Feel free to open it again incase i have missed something

[2020-05-21 17:46] #80 closed

[2020-05-21 17:49] techno-disaster commented on #81
@anitab-org/mentorship-backend-maintainers we don't have a forgot password feature yet, right?

[2020-05-21 18:29] bartekpacia commented on #81
Nope. It bothers me too a bit. Fortunately there's some work going on [here](https://github.com/anitab-org/mentorship-backend/issues/551).

[2020-05-21 18:38] bartekpacia commented on #59
@isabelcosta I don't quite understand this
`
As a user just signing up,
I need a clear definition of the roles I can have in the app,
so that I can start benefiting from the app.
`

IMHO checkboxes are clearer and a go-to solution when there's a multi-choice to be made. Radio buttons would be applicable if user could be only a mentor or only a mentee.

[2020-05-21 18:44] techno-disaster commented on #59
@bartekpacia  yes, but sometimes the user just doesn't know if there is a option where he can select both the options. Like maybe he/she thinks i can only register for mentor OR mentee?

[2020-05-21 18:54] techno-disaster commented on #81
Thanks Bartek, so we can put this on hold for  now

[2020-05-21 18:57] techno-disaster commented on #81
@MaheKhan please use the issue template which can be found [here](https://github.com/anitab-org/mentorship-flutter/tree/develop/.github/ISSUE_TEMPLATE) and reformat your issue body

[2020-05-21 19:08] ghost commented on #81
okay. Did that.

[2020-05-21 19:27] #51 closed

[2020-05-22 00:08] techno-disaster commented on #38
Status: on hold until pagination

[2020-05-22 00:55] bartekpacia commented on #59
But that's what check boxes are for...If they want to select second option, they'll click it, and it will work (checkbox will be checked). Using radio buttons for this use case is a design anti-pattern.

[2020-05-22 01:23] techno-disaster commented on #59
its also possible that the user thinks only 1 option is selectable? so showing them the both option is just playing safe. what do you think about this?

[2020-05-22 04:34] Techno-Disaster opened #84 "Make disabled textfields grey on profile page"
**Is your feature request related to a problem? Please describe.**
Currently there is no difference in the profile page when editing is on or off.

**Describe the solution you'd like**
I would like the profile page to be greyed out (suggesting that it is disabled), if i haven't selected editing mode to be on.

**Additional context**

| Android version (how it should be) | Flutter Version (how it i

[2020-05-22 04:49] techno-disaster commented on #84
Couldn't really think of a way doing this 🤔, but a hack would be adding opacity to the page and as the editing button is a FAB it won't be affected, same with the navbar and appbar. (wont be affected)
Result :
![Screenshot_20200522-101735807](https://user-images.githubusercontent.com/52817235/82632376-a8e44580-9c15-11ea-8642-ccc8eb0b1172.jpg)

Incase anyone knows a better way to achieve this pleas

[2020-05-22 04:51] techno-disaster commented on #84
Just to be clear, this issue is still unassigned and anyone can ask us to get assigned. I'm just doing this because i wanted to try it out for myself.

[2020-05-22 13:05] bartekpacia commented on #59
I get you, but almost always, if the user wants to click something, they'll just click and see what happens.
BTW Here are the [Material Design specs](https://material.io/components/selection-controls) that explain this well

[2020-05-22 18:25] #68 closed

[2020-05-22 18:25] techno-disaster commented on #41
@anitab-org/mentorship-flutter-maintainers can I work on this?

[2020-05-22 21:09] isabelcosta commented on #59
@bartekpacia I appreaciate your concern. I thought that single option would make it clearer that one can be a mentor and a mentee. Having checkboxes does not seem to me to make it clear.

I already asked this in  Community Open Session and I remember that at least @annabauza contributed to this discussion and we understood it as the best option.

Having 3 options for single selection: Mentee, ment

[2020-05-25 13:11] isabelcosta opened #85 "Use pagination feature on Members screen"
## Description

As a user,
I need to see the list of members in the mentorship system,
so that I can select my mentor/mentee.

The backend API specification:

![image](https://user-images.githubusercontent.com/11148726/82815291-c7a24080-9e90-11ea-90e2-af747a2c33cf.png)

Nice to know:
- The default number of users is 10, and the default page is 1
- When the list as reached the end, it will simply r

[2020-05-25 13:57] isabelcosta commented on #59
@bartekpacia as of now the vote was for having the single option with mentor, mentee, and both. This can be revisited later, it's not that its set in stone. We need designers to get more involved in this project, but until we get to that stage, we can go with the majority of votes. What do you think? https://anitab-org.zulipchat.com/#narrow/stream/216323-design/topic/Mentorship.20System.20-.20Rede

[2020-05-25 16:15] techno-disaster commented on #59
I honestly think both are fine. But as #82 is already up we should go with that. We can ofcourse change it later, it's basically 5-6 lines of code ig.

[2020-05-25 20:42] Techno-Disaster opened #86 "Use pagination feature on Members screen"
### Description
As a user,
I need to see the list of members in the mentorship system,
so that I can select my mentor/mentee.

The backend API specification:

![82815291-c7a24080-9e90-11ea-90e2-af747a2c33cf](https://user-images.githubusercontent.com/52817235/82842002-ac1d5100-9ef5-11ea-8c5d-a38006d718c3.png)

### Nice to know:

The default number of users is 10, and the default page is 1
When the

[2020-05-25 20:42] techno-disaster commented on #86
@anitab-org/mentorship-flutter-maintainers  can I try this?

[2020-05-25 20:42] #86 closed

[2020-05-25 20:43] techno-disaster commented on #85
@anitab-org/mentorship-flutter-maintainers  can i try this?

[2020-05-25 22:05] isabelcosta commented on #85
@Techno-Disaster have you finished other issues you were assigned?

[2020-05-25 22:06] techno-disaster commented on #85
yes the PRs are already up iirc

[2020-05-25 22:50] bartekpacia commented on #85
Good luck!

[2020-05-26 23:35] techno-disaster commented on #85
### EDIT : After some googling found out that I wasn't being patient enought and they were just infos/warnings :see_no_evil: . Not deleting this comment , as someone else might have a similar question

@bartekpacia I needed to refresh the chopper files but when i ```flutter pub run build_runner build --delete-conflicting-outputs``` run  I keep getting this
[code]

[2020-05-27 11:43] bartekpacia commented on #85
Might be something related to Flutter / package version. I've never encountered this 🤷‍♀️

[2020-05-27 17:22] isabelcosta commented on #85
I think this issue resolution will solve #36

[2020-05-27 17:33] #49 closed

[2020-05-27 17:39] isabelcosta commented on #60
For next person that picks this up, the PR #73 was almost done, so you can continue this work on your PR :)

[2020-05-27 17:48] #59 closed

[2020-05-27 20:45] techno-disaster commented on #38
@anitab-org/mentorship-flutter-maintainers Can i work on this? :wink:  :)

[2020-05-27 20:51] bartekpacia commented on #38
good luck:D

[2020-05-28 16:09] techno-disaster commented on #38
Ok lol, i have no idea how to implement this, do we plan to use the /users/{userId} endpoint? or just load all the users first and check for names in the list?

[2020-05-28 17:36] isabelcosta commented on #38
@Techno-Disaster You can use `search` query parameter.

Server: https://mentorship-backend-temp.herokuapp.com/

![image](https://user-images.githubusercontent.com/11148726/83174288-1579ab80-a112-11ea-9d85-ff1d83705cc1.png)

[2020-05-28 17:40] techno-disaster commented on #38
@isabelcosta I tried entering the name in the search query field, but kept getting a empty list.I also tried entering the userId in the search field. What am i supposed to put in it?

[2020-05-28 22:25] bartekpacia commented on #38
Have you tried doing it using sth like Postman just to exclude that it's API pitfall?

[2020-05-28 23:14] techno-disaster commented on #38
i tried curl from my command line, I really don't think its a pitfall. The search parameter should have better documentation imo

[2020-05-28 23:16] techno-disaster commented on #38
Were you able go get any output?

[2020-05-29 23:42] bartekpacia commented on #38
I cannot set up backend locally, getting really crazy errors that some native libraries can't be compiled.
Maybe you should create an issue for this in the backend repo?

[2020-05-30 00:24] techno-disaster commented on #38
exactly same issue here, although i thought that was some issue with my laptop specifically.

[2020-05-30 01:26] isabelcosta commented on #38
🤯

It's open source 🤹‍♀️  @Techno-Disaster what should be better in the documentation in your own opinion? Do create an issue if you really feel there is something missing.
@bartekpacia what are the crazy errors?

If we want to get this flutter app working with the backend we have to be comfortable working with the backend and communicating issues we have with it. Otherwise, you will be dependent

[2020-05-30 11:06] techno-disaster commented on #38
@isabelcosta I would like to know what exactly do we enter in the search field. An example in the swagger UI would be helpful. Also I am trying to get the backend ready by changing some versions, will ask on zulip if i get stuck again

[2020-05-30 11:09] techno-disaster commented on #27
@bartekpacia How does our app use bloc? 🤔 Like isn't the basic idea of bloc to prevent reloading the whole page and just update the changed data? Our app just rebuilds the whole page when we change tabs.

[2020-05-30 11:12] techno-disaster commented on #36
Closing for now.
Reason : Same as #85 and PR #87 is already up.

[2020-05-30 11:12] #36 closed

[2020-05-30 11:14] techno-disaster commented on #39
@HaripriyaB please start working on this, if you get stuck somewhere feel free to ask here, or on zulip

[2020-05-30 11:24] HaripriyaB commented on #39
Actually I found a bug when I reproduce this. So I think the title need to change?

![Screenshot_2020-05-30-16-52-18-54_92746fe779a9c2c81c5c767d4a402904](https://user-images.githubusercontent.com/34762451/83326983-1afffe80-a296-11ea-8afc-ed1265f46c77.png)

[2020-05-30 11:52] techno-disaster commented on #39
The title us running a release build, so we can't see the error there. Also if you already know what the error is no need to specify it, just write what was wrong in the PR.

[2020-05-30 15:23] bartekpacia commented on #27
At the HomeScreen level, BLOC is simply used to maintain the current state (currenly opened screen) . I'm sure that we're probably not using all of its power, but unfortunately, I don't have time to learn it properly now.

[2020-05-30 15:24] bartekpacia commented on #27
There's definitely area for improvement.

[2020-05-30 16:18] isabelcosta commented on #38
@Techno-Disaster its just a string, for example if you want to find a user called "Isabel" the query could be `"search": "isa"`.

I answered on Zulip as well. Could you create an issue on backend to improve documentation about `search` query parameter?

[2020-05-30 17:15] techno-disaster commented on #38
@isabelcosta tried it, still getting an empty list. can you upload a screenshot with what exactly we have to put in the search box?

![image](https://user-images.githubusercontent.com/52817235/83334876-1273ec00-a2c7-11ea-98de-a6695aa5a048.png)

[2020-05-30 20:04] isabelcosta commented on #38
What is the "%22" in the `search` parameter @Techno-Disaster ?
Remove the `"` quotes, that should not be there. When removing the quotes that will work

[2020-05-30 20:10] techno-disaster commented on #38
strangely searching ``` isa``` gives me a output but``` tech``` does not. does the search need a page too? like does the search only search on the particular page or whole database? Can you try searching ```tech```

[2020-06-02 19:29] techno-disaster commented on #39
Hey @HaripriyaB  any updates? feel free to ask any doubts here if you are stuck

[2020-06-02 19:35] techno-disaster commented on #38
This is what I mean @isabelcosta ,searching ```isa``` gives me a result but ```urs``` or ```tech``` only gives me an empty list

```urs```
![image](https://user-images.githubusercontent.com/52817235/83561796-1194c180-a536-11ea-9476-62f726d418c2.png)

```isa```
![image](https://user-images.githubusercontent.com/52817235/83561926-4d2f8b80-a536-11ea-8724-8c64f7f818e0.png)

[2020-06-03 17:45] #39 closed

[2020-06-03 17:48] techno-disaster commented on #27
After asking in a lot of groups and people i was finally able to get this to work. Huge thanks to @gaurav192 for helping me with this issue.
@anitab-org/mentorship-flutter-maintainers Can i be assigned to this issue? ik its issued to @bartekpacia  but considering he is busy with his MLH work and that i have already got it to work can I be assigned to this as well?
Thank You.

[2020-06-03 19:48] bartekpacia commented on #27
@Techno-Disaster Sure, I'll reassign you. Glad you figured this out :) and thanks for taking this from me

[2020-06-05 15:07] bharat-1809 commented on #76
Can I work on this issue?

[2020-06-05 17:19] techno-disaster commented on #76
@bharat-1809  sure, will assign it to you.

[2020-06-06 08:40] bharat-1809 commented on #84
Can I work on this?

[2020-06-08 01:41] techno-disaster commented on #84
@bharat-1809 sure.

[2020-06-09 16:26] Techno-Disaster opened #93 "Page reloads everytime."
**Is your feature request related to a problem? Please describe.**
Currently the page is loaded everytime we switch to it, this leads to unnecessary usage of the API and also slowing the app down.

**Describe the solution you'd like**
Cache the data in shared pref, convinently this is already done in [hydrated_bloc](https://pub.dev/packages/hydrated_bloc#-readme-tab-). So we just have to implement

[2020-06-09 16:27] techno-disaster commented on #93
Some links for tutorials you might find useful:

1. https://resocoder.com/2019/09/05/persist-bloc-state-in-flutter-hydrated-bloc-tutorial/
2. https://medium.com/flutter-community/caching-bloc-state-with-hydrated-bloc-e565f81520a4

[2020-06-10 18:24] HaripriyaB commented on #64
@anitab-org/admins since these first-timers issues are stale for long time and we have most of the issues for first-timers only due to which other contributors are not able to claim issues. So can we(non-first-timers) take up these issues for now so that we can clear up the pending issues sooner to welcome new issues and PRs??

[2020-06-10 21:52] isabelcosta commented on #64
@HaripriyaB I would say give it a try to some :)

[2020-06-11 12:49] HaripriyaB opened #94 "Add Loading indicator when a task is created and marked as complete"
**Is your feature request related to a problem? Please describe.**
Yes.

1. When a user creates a task, after clicking create button, there is a delay of 1-2 seconds for a response from the app which is not user-freindly.
2. Similar situation when a user marks a task as completed it stands still for 2sec.

**Describe the solution you'd like**
When a user creates a task, it has to show a loading in

[2020-06-11 13:27] HaripriyaB opened #95 "Make separate sections for tasks to do and tasks completed"
**Is your feature request related to a problem? Please describe.**
The tasks section is not organized to show completed tasks and yet to complete tasks.

**Describe the solution you'd like**
There should be two sections/drop sections to show to-do tasks and completed tasks separately. Just like in Android version of Mentorship.

**Additional context**
Android version:
![](https://user-images.githu

[2020-06-11 13:35] HaripriyaB opened #96 "Add mark as done comfirmation dialog when clicked on checkbox of a task"
**Is your feature request related to a problem? Please describe.**
When  user clicks on the checkbox of task, it directly marks as done without confirming the user.

**Describe the solution you'd like**
Show a dialog box when a task is checked by the user. Like the one in android version.

**Additional context**
Android version:
![Record-2020-06-11-18-08-40-184af](https://user-images.githubusercon

[2020-06-11 19:00] vj-codes commented on #61
Heyy I would like to work on this

[2020-06-11 20:12] #85 closed

[2020-06-11 21:01] techno-disaster commented on #26
Not really needed anymore

[2020-06-11 21:01] #26 closed

[2020-06-11 21:33] Techno-Disaster opened #97 "Maintainance."
### Issue
We have some issues piling up, so as per May's instructions, this issue consists of several first timer and other simpler issues combined. These are the issues you need to work on:
#60 #63 #64 #96
Each of the above issue  already has a well defined body which tells what the issue is about, refer that when you are working on that issue.

### Definition of Done
- [x] #60
- [ ] #63
- [x] #6

[2020-06-11 21:33] techno-disaster commented on #97
@anitab-org/mentorship-flutter-maintainers Can I work on this?

[2020-06-11 21:35] techno-disaster commented on #94
A similar issue had been already submitted (#67) and the PR for it is already up (#83) . Will merge changes for this PR in that.

[2020-06-12 02:55] techno-disaster commented on #61
@vj-codes  Considering you are a first time I'll remove this from #97 and assign it to you. Feel free to ping here if you are stuck while working on this

[2020-06-12 15:09] bharat-1809 commented on #84
@Techno-Disaster even I couldn't find a more subtle way of doing this. So should I move forward with the opacity approach?

[2020-06-12 15:24] techno-disaster commented on #84
@bharat-1809 yes, i guess you can, because if we take a look at the android profile page the whole page is greyed out too.

[2020-06-12 15:32] bharat-1809 commented on #84
Okay, I'll work on it. Thanks :)

[2020-06-13 18:31] Akanksha1212 opened #100 "Add a delete icon next to the task"
**Is your feature request related to a problem? Please describe.**
Delete option appears when the user clicks on the task. There is no clear indicator like an icon for the same.

**Describe the solution you'd like**
A delete icon next to the task should be added. Delete task dialog box should appear when the icon is clicked instead of the task.

**Additional context**
Current Version
<img src="htt

[2020-06-13 18:49] Akanksha1212 opened #101 "Remove toast message which appears when checkbox is clicked"
**Is your feature request related to a problem? Please describe.**
When the task checkbox is clicked then a "Hey" toast message appears which is not needed.

**Describe the solution you'd like**
Remove the toast message that appears on clicking the checkbox.

**Additional context**
Current Version
<img src="https://user-images.githubusercontent.com/20701948/84576647-fc405280-add3-11ea-82f1-82de224

[2020-06-13 19:15] #101 closed

[2020-06-17 03:20] techno-disaster commented on #97
@anitab-org/mentorship-flutter-maintainers  @anitab-org/mentorship-managers  I got no confirmation if I can work on this or not? please confirm, Thank You

[2020-06-17 06:50] Akanksha1212 commented on #97
Hi @Techno-Disaster, If you don't have any other issues assigned at the moment, then go ahead.

[2020-06-17 07:14] techno-disaster commented on #38
Status on hold until fixed on the backend.
Issue : [#644](https://github.com/anitab-org/mentorship-backend/issues/644)

[2020-06-17 09:36] bharat-1809 commented on #100
Can I work on it?

[2020-06-17 09:48] Akanksha1212 commented on #100
Sure. Go ahead @bharat-1809

[2020-06-17 11:35] techno-disaster commented on #100
I suggest making a ListTile and adding the icon using the ```trailing``` property. @bharat-1809 . Feel free to use if you find anything better than this

[2020-06-17 11:35] techno-disaster commented on #60
Moved to #97

[2020-06-17 11:36] techno-disaster commented on #63
Moved to #97

[2020-06-17 11:36] techno-disaster commented on #64
Moved to #97

[2020-06-17 11:36] techno-disaster commented on #95
Moved to #97

[2020-06-17 11:36] techno-disaster commented on #96
Moved to #97

[2020-06-17 16:54] bharat-1809 commented on #100
@Techno-Disaster @Akanksha1212 @bartekpacia Instead of a delete button and showing the dialog box can we implement swipe to dismiss, If it fits the theme of the app? and also, a snackBar will be displayed containing the undo action.

[2020-06-18 00:33] techno-disaster commented on #100
imo a delete button would be better. what do you think @anitab-org/mentorship-flutter-maintainers

[2020-06-18 10:00] bartekpacia commented on #100
I'd also lean towards delete button (trash can icon), it's more discoverable and obvious.

[2020-06-20 10:10] #61 closed

[2020-06-20 12:14] techno-disaster commented on #97
imo #95 isn't really a first timer/small issue so removing from this issue, because this issue was mainly meant to clear small issues piling up due to lack of first timer contributors

[2020-06-20 12:15] techno-disaster commented on #95
Removed from #97 because this is kind off a big issue. If anyone from @anitab-org/coding-team is free to take it up please do :)

[2020-06-20 12:24] HaripriyaB commented on #95
I'll take up?

[2020-06-20 12:41] techno-disaster commented on #95
sure, assigning to you. all the best :)

[2020-06-20 21:23] techno-disaster commented on #41
@anitab-org/mentorship-managers can i work on this? PR for my other issues are already up

[2020-06-21 00:24] satya7289 commented on #41
Yup, Assigning you.

[2020-06-21 12:06] Techno-Disaster opened #106 "Unit tests"
**Is your feature request related to a problem? Please describe.**
Currently we have no unit tests to check if the app works as it should. We should start adding unit tests which will allow us to see if we have the app has any bugs.

**Describe the solution you'd like**
Add  unit tests for auth and login part, and update travis and github ci/cd  to test the app.

[2020-06-22 03:21] Techno-Disaster opened #107 "Last page bug due to Pagination"
**Describe the bug**

Right now if the last page does not have all 20 members (the number of people we request per page). The members get repeated. This is probably due to a small bug in ```hasReachedMax```, to fill the ```20``` limit.

**To Reproduce**
Steps to reproduce the behavior:
Go to members page and scroll to the end.

**Screenshots**

![Screenshot_20200622-084911](https://user-images.git

[2020-06-22 09:56] #67 closed

[2020-06-22 09:56] #94 closed

[2020-06-24 08:23] Anirudhk07 commented on #96
Can I take this up ?

[2020-06-24 08:25] Anirudhk07 commented on #100
Can I take this ?

[2020-06-24 08:28] Anirudhk07 commented on #107
Can I take this ?

[2020-06-24 08:40] techno-disaster commented on #107
Hey @Anirudhk07  sure. assigning it to you

[2020-06-24 08:41] HaripriyaB commented on #96
@Anirudhk07 There is an existing PR for this issue [here](https://github.com/anitab-org/mentorship-flutter/pull/103) so I recommend you to see for any other issue.

[2020-06-24 09:05] Techno-Disaster opened #109 "bug: App makes network calls everytime user changes page"
**Is your feature request related to a problem? Please describe.**
Right now every time we switch pages, the app makes a network call and gets the data, this makes the app feel slow.

**Describe the solution you'd like**
Don't get data from backend until the user refreshes. User refresh action can be set ti pull down to refresh

Right now (App loafs page every time from backend):

![test](https://

[2020-06-24 09:48] #84 closed

[2020-06-24 16:54] Akanksha1212 commented on #100
Hi @Anirudhk07 This has been assigned to @bharat-1809 and the PR is up already. You can find more issues to work by looking for Status: Available label.

[2020-06-26 16:42] #41 closed

[2020-06-27 09:57] HaripriyaB commented on #95
I think I don't have bandwidth for this atm. So making it available.

[2020-06-27 11:02] gaurivn commented on #95
I would like to work on this issue.

[2020-06-27 11:06] HaripriyaB commented on #95
sure @gaurivn Assigning it to you.

[2020-07-01 20:57] techno-disaster commented on #93
Moved to #109

[2020-07-01 20:57] #93 closed

[2020-07-01 20:58] techno-disaster commented on #107
@Anirudhk07  Any update on the issue?

[2020-07-02 20:20] #60 closed

[2020-07-02 20:20] #64 closed

[2020-07-02 20:20] #96 closed

[2020-07-02 20:20] #97 closed

[2020-07-06 20:30] #109 closed

[2020-07-08 17:16] Akanksha1212 commented on #107
Making this issue available for others as there's no response from @Anirudhk07.

[2020-07-08 17:17] HaripriyaB commented on #63
Closed via #103

[2020-07-08 18:27] techno-disaster commented on #63
Umm #103 doesn't fix this?

[2020-07-08 19:04] HaripriyaB commented on #63
#103 Description says it fixes Don't track generated files issue..... doesn't it??

[2020-07-09 07:41] techno-disaster commented on #63
Yes, i just saw it but i did not add it. Checking the edit history looks like @isabelcosta added it by mistake. Also #63 is not mentioned in the Fixes section. But I think we can close this as we had a small discussion at at the end of #103 to go ahead with this or not. Can you confirm @isabelcosta @bartekpacia

[2020-07-09 07:41] #63 closed

[2020-07-09 07:42] techno-disaster commented on #107
@bharat-1809 can you take this up?

[2020-07-09 07:44] bharat-1809 commented on #107
@Techno-Disaster Sure, thanks :)

[2020-07-09 07:46] #100 closed

[2020-07-09 19:51] techno-disaster commented on #95
@gaurivn any updates on the issue?

[2020-07-09 20:03] gaurivn commented on #95
I did try working on it, but I don't have the bandwidth for it now, so unassigning myself.

[2020-07-10 00:38] techno-disaster commented on #95
@anitab-org/coding-team Does anyone want to take this up?

[2020-07-13 09:15] techno-disaster commented on #107
Hey @bharat-1809  any updates?

[2020-07-13 09:22] bharat-1809 commented on #107
@Techno-Disaster I am still working on it. Sorry for the delay.

[2020-07-13 11:07] techno-disaster commented on #107
no problem, we just need a update every 3 days  :) feel free to ask of you are stuck somewhere.

[2020-07-13 11:12] Techno-Disaster opened #111 "Add comments to tasks"
**Is your feature request related to a problem? Please describe.**
There's no way for a mentee and mentor to communicate. They can only assign tasks and complete them.

**Describe the solution you'd like**
Use the comments endpoint from the backend to add comments to tasks when a user is in a relationship to communicate.

UI to do this would be open a task on a new screen and load the comments bel

[2020-07-13 16:12] bharat-1809 commented on #107
@Techno-Disaster I think the issue is already solved. The list didn't get repeated. Please have a look.
![20200713_211408](https://user-images.githubusercontent.com/58745044/87325995-ca93e600-c54f-11ea-897d-78514e679fd2.gif)

[2020-07-14 16:14] techno-disaster commented on #111
@anitab-org/coding-team does anyone want to take this?

[2020-07-16 20:48] techno-disaster commented on #107
Yes, i looked into this and found out an issue on the backend, lets keep this on hold for now. Will raise an issue on the backend repo

[2020-07-17 22:52] techno-disaster commented on #111
@anitab-org/mentorship-managers Can someone assign me this?

[2020-07-19 12:34] techno-disaster commented on #111
On hold until the ```sent_by_me``` field is added on backend and fix the internal server error :)

[2020-07-20 16:13] Techno-Disaster opened #113 "bug: Find Members button not navigating properly"
**Describe the bug**
When the user is not in a relation we show a find members button on the relation page, but this is not working as intended, the button does not navigate in the bottom navy bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Relation page', if you are not in a relation you will see a find members button, incase you are just use this account ```qwerty12:12345678```

[2020-07-20 16:13] techno-disaster commented on #113
@bharat-1809 would you like to work on this? or anyone else from @anitab-org/coding-team ?

[2020-07-20 16:16] HaripriyaB commented on #113
Can I take this up?

[2020-07-20 18:26] Akanksha1212 commented on #113
Sure @HaripriyaB

[2020-07-22 01:15] Techno-Disaster opened #115 "feat: let user refresh page even if they reach the end"
**Is your feature request related to a problem? Please describe.**
I cant refresh the members page when I reach the end

**Describe the solution you'd like**
User should be able to refresh the page even if he/she has reached the end

[2020-07-23 20:34] nandini45 commented on #95
@Techno-Disaster  can i work on it? but beforehand can you explain me what is this about. ,meaning i understand the issue but what the people who worked on it said that bandwidth is not there.

[2020-07-25 18:34] #115 closed

[2020-07-26 22:48] techno-disaster commented on #113
@HaripriyaB whats the status of the issue?

[2020-07-27 00:03] Techno-Disaster opened #116 "Migrate to Bloc 6.0"
Bloc released some new versions which makes it easier to understand the code, we are still using v4.0.0 Fortunately the documentation has a really good guide to help with the migration which can be found [here](https://bloclibrary.dev/#/migration). The user who gets this assigned will have to first move to bloc 5.0 and then 6.0 as there are quite a few breaking changes and we dont want to miss any

[2020-07-27 00:04] techno-disaster commented on #116
@anitab-org/mentorship-managers can i work on this?

[2020-07-27 03:29] HaripriyaB commented on #113
Working on it. But I'm stuck at how to navigate from one tab to another with the button click. I tried to navigate but it threw error.

[2020-07-27 14:49] Akanksha1212 commented on #113
Hi, @HaripriyaB Were you able to resolve the error? If not can you share the details about the error here

[2020-07-27 14:53] HaripriyaB commented on #113
When I add navigator in onpressed of find members button it shows error.

[2020-07-27 17:52] techno-disaster commented on #113
Yep, you will have to change the whole navigation for bottom navy bar probably. Use bloc like we did before. Check how tabs were navigated before #108 commit. @HaripriyaB Once you get this it will be super easy

[2020-07-28 17:18] #76 closed

[2020-07-28 23:50] techno-disaster commented on #113
@HaripriyaB if you are still stuck with this, I can take over this issue?

[2020-07-29 00:43] Techno-Disaster opened #118 "bug: token expired message"
**Describe the bug**
After every 7 days the jwt token expires, to fix this issue the user has to relogin, but no clear instructions are given in the app apart from the ```token expired``` message.

**Expected behavior**
Ask user to relogin.

[2020-07-29 00:43] techno-disaster commented on #118
@anitab-org/mentorship-managers can I work on this?

[2020-07-29 05:24] HaripriyaB commented on #113
yeah ..I guess I'm not able to figure out the solution.I tried all possible ways. So you take it up.

[2020-07-29 05:48] bharat-1809 commented on #113
@HaripriyaB and @Techno-Disaster Can I take up this?

[2020-07-29 13:29] techno-disaster commented on #113
Hey @bharat-1809 i already fixed this and will be sending an PR tonight can you take up one of the other issues?

[2020-07-29 13:34] bharat-1809 commented on #113
@Techno-Disaster Yeah, Sure :)

[2020-07-29 13:36] bharat-1809 commented on #95
Can I work on this?

[2020-07-29 13:55] techno-disaster commented on #95
sure assigned to u

[2020-08-01 11:03] isabelcosta commented on #113
@HaripriyaB please take a look at #119 PR so you can see what you were possibly missing from your solution :)

[2020-08-01 11:51] isabelcosta opened #120 "When opening the Calendar on Send Request screen a debug toast is shown on android"
## Description
As a developer of mentorship system,
I need to not show debug code and prints,
so that I can provide a good non-weird experience to the end-user.

When opening the Calendar on Send Request screen a debug toast is shown on the android version of the app.

## Screenshots of the issue

This screenshot don't include the toast, because I didn't manage to take the screenshot before it dis

[2020-08-01 12:25] isabelcosta opened #121 "Network call being done in transition from Member Profile to Send Request screen"
## Description
As a developer,
I need to avoid doing network calls when not needed,
so that I can spare the user's device resources.

I could not take a screenshot showing it, but when I click "Send Request" button on "Member Profile" screen I see the loading icon, indicating a call to the backend server is being done when transitioning to "Send Request" Screen. This should not be needed, as every

[2020-08-01 12:25] isabelcosta commented on #121
@HaripriyaB do you want to try this issue? I see you tried one but ended up letting it go. If you wish to try this one I can assign this to you ;)

[2020-08-01 12:32] isabelcosta opened #122 "Hide tabs from Current Relation screen, when I don't have a mentorship relation"
## Description
As a user of Mentorship System,
I need to have a clear empty Current Relation screen,
so that I can clearly understand the I am not in a current relation at the moment.

In the current relation screen I see the tabs "Details" and "Tasks" which should be hidden, because I am not in a current relation.

## Screenshots of the issue

<img src="https://user-images.githubusercontent.com/1

[2020-08-01 13:55] isabelcosta opened #123 "Find Members button sometimes does not work"
**Describe the bug**

Sometimes when clicking Find Members button on "Current Relation" screen, the button does not work.

I see 2 things happening here: The find members button does not work in the second time and the first time, when I click the button I see that the menu option did not change to "Members List" Screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Login into the app with

[2020-08-01 14:27] techno-disaster commented on #123
Duplicate issue #113 which already has a PR up

[2020-08-01 14:27] #123 closed

[2020-08-01 15:34] isabelcosta opened #124 "Title of the screen is not changing when I open the app"
**Describe the bug**

When changing screens the title does not change. only in very specific occasions, which are the usual result of bugs.

**To Reproduce**
Steps to reproduce the behavior:
1. Login into the app
2. Change screens through bottom navigation
3. Observe that the titles do not change

**Expected behavior**

When I change a screen through clicking the bottom navigation menu the screen

[2020-08-02 02:10] techno-disaster commented on #124
Fixed in #119

[2020-08-02 02:42] techno-disaster commented on #95
Hey @bharat-1809 any updates?

[2020-08-02 09:26] justdvnsh commented on #120
Hi @isabelcosta . I'd like to be assigned this issue and start contributing to the organization

[2020-08-02 09:28] justdvnsh commented on #122
Hi @isabelcosta . I'd like to be assigned this issue.

[2020-08-02 12:00] isabelcosta commented on #122
Go ahead @justdvnsh !

[2020-08-02 12:01] isabelcosta commented on #120
@justdvnsh I already assigned you the other issue you asked for, so I will leave this available :)

[2020-08-02 12:40] justdvnsh commented on #120
@isabelcosta sure. thanks

[2020-08-02 16:56] bharat-1809 commented on #95
@Techno-Disaster I am on to it. It's in progress.

[2020-08-02 17:29] dwvicy commented on #120
Hello, @isabelcosta! I would like to work on this issue to begin with my contributions. Can you please assign it to me?
(I've rectified it locally, I'll create a PR as soon as I'm assigned)

[2020-08-03 11:09] Techno-Disaster opened #127 "feat: easier testing and cleaner flutter ci"
**Is your feature request related to a problem? Please describe.**
QA testers gave to download flutter just to test a small apk. We should be able to do this without an emulator or installing flutter on the qa team member's device

**Describe the solution you'd like**
Upload the apk for each PR to github artifacts which can be downloaded by the qa team to make their testing easier. So basically th

[2020-08-04 17:49] #38 closed

[2020-08-04 19:54] bharat-1809 commented on #95
@Techno-Disaster Can I use a package for the job?

[2020-08-04 22:38] isabelcosta commented on #120
@justdvnsh is assigned and working on it
@dwvicy I can redirect you other issues :) we have plenty here!

@justdvnsh are you facing any issues with this task? If so please let us know, and perhaps @dwvicy can help you :)

[2020-08-04 22:39] isabelcosta commented on #120
@dwvicy yes you can sorry! I will assign to you

[2020-08-05 00:40] techno-disaster commented on #95
@bharat-1809 yep sure :) just out of curiosity which one are you using?

[2020-08-05 06:10] bharat-1809 commented on #95
@Techno-Disaster I am using the Expandable package v4

[2020-08-05 09:57] techno-disaster commented on #95
ah ok sure :)

[2020-08-05 11:20] techno-disaster commented on #121
@anitab-org/mentorship-flutter-maintainers can i take this up :)
cc: @anitab-org/mentorship-managers

[2020-08-05 18:04] isabelcosta commented on #121
@Techno-Disaster you have 7 issue assigned to you, can you please wait until we close some to start this one and leave some more time to other contributors to pick it. You are accumulating too many issues which are not merged yet

[2020-08-05 19:34] techno-disaster commented on #121
Sure np :)
I'll continue working on offline support. PR for that coming up soon too 🙂

[2020-08-05 19:43] #120 closed

[2020-08-05 19:49] Techno-Disaster opened #129 "feat: Offline support"
**Is your feature request related to a problem? Please describe.**
As a user sometimes I'm not connected to the internet, I would like to still see my profile, tasks, stats when not connected to the internet

**Describe the solution you'd like**
Add offline support to the app wherein the data from each page is stored. For security reasons we will be encrypting it with AES 256 bit. Also when the us

[2020-08-11 19:15] #127 closed

[2020-08-11 21:01] j-kon opened #131 "Adding media queries and google fonts."
**Is your feature request related to a problem? Please describe.**
Adding a profile picture in the profile sections [...]

**Describe the solution you'd like**
so am going to be adding media queries and making the anitab logo background to be transparent.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addi

[2020-08-11 23:22] #62 closed

[2020-08-12 22:31] isabelcosta commented on #131
@j-kon can you be more clear in the description. I don't understand the change you are trying to do. What are the media queries and google fonts for? Is this something that changes UI or improves code quality? If @anitab-org/mentorship-flutter-maintainers including me understand your issue then we can validate and assign this to you :)

[2020-08-13 01:57] techno-disaster commented on #131
@j-kon What do you mean by adding profile picture? We do not have a feature for profile picture setup on backend yet. Also where would you be adding MediaQuerys? Also fyi we are not using any custom fonts in the app yet, we will change the font/UI ones the @anitab-org/design-team comes up with something

[2020-08-13 09:36] Frenzyritz13 opened #132 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-16 21:13] techno-disaster commented on #111
Will resume work after offline feature is complete. Anyone else wanna pick this up untill then?

[2020-08-18 20:19] j-kon commented on #131
So sorry for the late response, a lot has happened. @Techno-Disaster has said changing of the profile picture is not on backend yet.  @isabelcosta Adding google font is more clear and user friendly. I will check the android mentorship app and see what I can add to the flutter mentorship app.

[2020-08-18 20:19] #131 closed

[2020-08-21 08:46] Techno-Disaster opened #134 "Remove delete account button"
**Is your feature request related to a problem? Please describe.**
We don't want to allow the user to delete his/her account as it messes the db at the backend.

**Describe the solution you'd like**
Remove the delete account option from the UI from the settings page

[2020-08-21 08:46] techno-disaster commented on #134
@anitab-org/coding-team does anyone want to pick this up? Should be easy.

[2020-08-21 09:07] HaripriyaB commented on #134
Can I take it up?

[2020-08-21 09:18] techno-disaster commented on #134
sure @HaripriyaB

[2020-08-21 21:05] techno-disaster commented on #111
Resuming work today :)

[2020-08-25 00:39] techno-disaster commented on #132
@anitab-org/coding-team anyone wants to take this up?

[2020-08-25 12:56] yashhalgaonkar commented on #121
Hey, @isabelcosta Can I take up this issue?

[2020-08-25 13:46] techno-disaster commented on #121
Sure, assigning it to you @yashhalgaonkar

[2020-08-26 07:25] Techno-Disaster opened #137 "Add socail logins"
## Description
As a user I would like to be able to login/sign-up using a social account, so I don't need to create a profile from scratch

## Acceptance Criteria
### Update [Required]
- [ ] add google and apple sign in

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-08-26 07:26] techno-disaster commented on #137
Status on hold untill merged with backend.

[2020-08-26 10:11] yashhalgaonkar commented on #121
Two ways I think this can be done are

1. Passing the User object as state throughout the widget tree.
2. Storing the current user info in local storage using MOOR.

Can you guys suggest any other way??
@isabelcosta @Techno-Disaster

[2020-08-26 11:52] yashhalgaonkar commented on #121
I have created a PR for this issue - [https://github.com/anitab-org/mentorship-flutter/pull/138](url)
For some reason, I am not able to link this issue and PR.

[2020-08-26 13:31] techno-disaster commented on #121
done

[2020-08-28 06:37] yashhalgaonkar commented on #121
Any review, suggestions? @isabelcosta @Techno-Disaster

[2020-08-28 06:41] techno-disaster commented on #121
Will review it today

[2020-08-28 16:20] shivanigupta19 commented on #137
Please assign me this issue

[2020-08-28 18:13] techno-disaster commented on #137
@shivanigupta19  sure, if you want to start working on this please merge Yugantars social logins pr found [here](https://github.com/anitab-org/mentorship-backend/pull/719) . You can ask doubts here, incase you are stuck.

[2020-08-29 02:03] shivanigupta19 commented on #137
Sorry by mistake i unassigned , please assign me again

[2020-08-29 09:05] bhumikasharma29 commented on #132
I want to take this. I am a new contributor. Please guide me.

[2020-08-29 09:12] anna4j commented on #132
@bhumikasharma29 Sure you can set up the project and get started on this issue, I'll assign you to it :)

[2020-08-29 09:19] bhumikasharma29 commented on #132
Thanks! I have set up the project. I will start working on the issue.

[2020-08-29 17:54] bhumikasharma29 commented on #132
Could you please guide me what to do next?

[2020-08-30 07:11] shivanigupta19 commented on #137
Sir , i have windows so , i cannot implement apple sign in the project.
you are not using firebase in this project

[2020-08-30 08:51] techno-disaster commented on #137
I personally have only used google sign in up untill today, @yugantarjain  can you confirm if implementing apple sign in requires a mac? IMO it shoudn't
@shivanigupta19 can you implement google sign in till then?

[2020-08-30 13:58] shivanigupta19 commented on #137
Sure but in back-end what are you using ?

[2020-08-30 16:45] techno-disaster commented on #137
@yashasvimisra2798 We have a flask backend setup. Social logins are not merged yet so you will have to use [this](https://github.com/yugantarjain/mentorship-backend/tree/social-sign-in) branch.

[2020-08-31 06:03] jatinjain001 commented on #134
I want to take it up

[2020-08-31 06:04] shivanigupta19 commented on #137
@Techno-Disaster should i write your email in Support email Shown on the consent screen for user support.
if Yes , please provide me your email- id.

[2020-08-31 06:13] techno-disaster commented on #134
This issue was already taken up and the PR is up #135

[2020-08-31 06:20] shivanigupta19 commented on #137
@Techno-Disaster  please provide me google account with password to proceed this task.

[2020-08-31 06:24] jatinjain001 commented on #124
I want to take it .

[2020-08-31 15:19] techno-disaster commented on #137
any google account should work ig?

[2020-08-31 15:29] shivanigupta19 commented on #137
@Techno-Disaster it will better if i use project's google account so that if there is any email regarding project or any changes , ll be easy to communicate but if i use my one , so it will create issues in future so , i cannot use my personal email. so , please make account if there is not.

[2020-08-31 16:36] techno-disaster commented on #137
There's no such project mail id as of now, please use any google account or create one. We will be communicating updates only here or on zulip.

[2020-08-31 16:46] shivanigupta19 commented on #137
sure , i ll make a new one.

[2020-09-01 05:55] yashasvimisra2798 opened #140 "Add badges for Stars and Forks in the Readme"
**Description**
The Readme does not have the badges stating the current number of stars and forks on this repository

[2020-09-01 05:56] yashasvimisra2798 commented on #140
I would like to work on the issue please assign this to me. Thanks

[2020-09-02 05:59] shivanigupta19 commented on #137
@Techno-Disaster please provide me Application Homepage link , Application Privacy Policy link , Authorized domains

[2020-09-02 09:43] techno-disaster commented on #137
Not sure why you might need these or what these are, but i guess you mean these?
https://mentorship-backend-temp.herokuapp.com/
We don't have a privacy policy link or auth domains afaik.
Could you tell me why / where this is needed?

[2020-09-02 10:08] shivanigupta19 commented on #137
@Techno-Disaster need to fill this.
![WhatsApp Image 2020-09-02 at 3 35 54 PM](https://user-images.githubusercontent.com/53371471/91968493-58ab7200-ed32-11ea-8713-334f8285adef.jpeg)

[2020-09-02 11:42] techno-disaster commented on #137
Never seen this before, could you tell me what this is and share the link?. But if the fields are not mandatory ignore them for now

[2020-09-02 17:26] shantanu1k commented on #134
Actually the button is still visible.....Can I remove it completely?

[2020-09-03 17:14] #116 closed

[2020-09-04 02:56] #134 closed

[2020-09-04 18:44] techno-disaster commented on #140
@anitab-org/mentorship-flutter-maintainers do we need these badges?

[2020-09-05 09:20] techno-disaster commented on #137
Hey, @shivanigupta19 any updates on this issue?

[2020-09-05 22:18] Techno-Disaster opened #141 "Add docs for testing team"
Recently a PR was merged which was supposed to ease out testing apks, without Android Studio, but most people are unaware about this. We need to create a doc which tells more about this feature. More info [here](https://github.com/anitab-org/mentorship-flutter/pull/126)

[2020-09-06 08:29] techno-disaster commented on #141
@anitab-org/coding-team would someone like to pick this up?

[2020-09-08 08:56] jatinjain001 commented on #140
I would like to work on this.
please assign it to me

[2020-09-10 03:53] techno-disaster commented on #140
Closing as this is not needed as of now as we can already see these stats on top of the repo page.

[2020-09-10 03:53] #140 closed

[2020-09-10 04:11] SubhamChoudhury commented on #141
@Techno-Disaster can I work on this? as a first timer, please guide me through it.

[2020-09-10 04:20] SubhamChoudhury commented on #141
@Akanksha1212  thank you ma'am. Ma'am can you please guide me through the issue, I am a beginner.

[2020-09-10 04:23] SubhamChoudhury commented on #141
Thank you ma'am. Since I am a beginner, can you please mentor me through
the steps

Subham Choudhury

On Thu, Sep 10, 2020, 9:44 AM Akanksha Singh <notifications@github.com>
wrote:

[2020-09-10 07:34] sarathsdev opened #142 "Regarding feedback icon"
**Describe the bug**
The Feedback icon is not responding in the settings.

**Device**
Tested in android

[2020-09-10 16:55] rpattath commented on #141
This is where you get the [apk](https://github.com/anitab-org/mentorship-flutter/tree/apk) from to test the app. You have to download the .apk to your android device and run the app. Try to install the app using the apk if you have an android device, so that you can get the screenshots and can describe the process more clearly.
I think @Techno-Disaster has implemented apk for each PR but I am not

[2020-09-11 01:40] techno-disaster commented on #141
Below each PR if you go the the checks tab you will see a "artifacts" drop-down. If you click on that you will be able to download a zip file which has the apk

[2020-09-11 16:15] Aaishpra commented on #132
@anna4j can i work on this?

[2020-09-11 16:21] anna4j commented on #132
@bhumikasharma29 what's your progress?

[2020-09-11 16:22] anna4j commented on #132
@Aaishpra if there's no response from current assignee you can work on it.

[2020-09-12 15:00] Aaishpra commented on #132
@anna4j can I get assigned to this now? Maybe @bhumikasharma29 is busy with other issues.

[2020-09-13 21:09] techno-disaster commented on #141
@SubhamChoudhury any updates on this issue?

[2020-09-13 21:10] techno-disaster commented on #142
@sarathsdev yep we haven't added this yet. soon tho i guess, feel free to reopen this issue incase you see otherwise

[2020-09-13 21:10] #142 closed

[2020-09-14 03:40] SubhamChoudhury commented on #141
Sir, I feel I am not versed with the necessary pre-requisites for the issue. I am not unable to work on it.

[2020-09-14 08:37] techno-disaster commented on #141
@SubhamChoudhury No worries, could you tell us where you are stuck so that we can help you out?

[2020-09-14 13:56] SubhamChoudhury commented on #141
Sir, am not skilled in flutter yet. So I don't know how the codebase works. Am sorry for that and I don't know how to proceed ahead

[2020-09-15 05:29] techno-disaster commented on #141
@SubhamChoudhury  this is a documentation project tho. Incase you want to be unassigned from this, please let me know

[2020-09-15 06:04] SubhamChoudhury commented on #141
Sir, can you send me a sample documentation so that I can take reference
and work on it.

Subham Choudhury

On Tue, Sep 15, 2020, 10:59 AM Jayesh Nirve <notifications@github.com>
wrote:

[2020-09-15 06:40] techno-disaster commented on #141
@rpattath can you show me one of the docs you refer for testing? Although I'm not sure what he means by "sample documentation". Also were you able to locate the apk for each PR @rpattath ?

[2020-09-15 09:43] techno-disaster commented on #137
Unassigning @shivanigupta19  because of no updates. Feel free to ping me i case you want to be assigned again

[2020-09-15 09:43] techno-disaster commented on #137
@anitab-org/coding-team Anyone want to pick this up?

[2020-09-15 11:31] darahask commented on #113
Can I solve this issue please, Thankyou

[2020-09-15 12:11] techno-disaster commented on #113
Hi this is fixed in #119

[2020-09-15 12:20] darahask commented on #113
But I recently forked the develop branch of the project, it has two issues
1. It works only for the first time.
2. It doesn't change the tab focus.
so I tried to solve it.

[2020-09-15 12:34] darahask commented on #113
Understood related Pr hasn't been merged yet, Thank you.
Any other feature or issue I can work upon @Techno-Disaster.

[2020-09-21 21:33] #95 closed

[2020-09-23 21:19] NarimaneHennouni commented on #137
Hi, can I be assigned to this?

[2020-09-23 21:23] techno-disaster commented on #137
@NarimaneHennouni sure you can start working on it right away

[2020-09-23 22:01] NarimaneHennouni commented on #137
@Techno-Disaster okay thank you

[2020-09-26 11:33] Akanksha1212 commented on #132
Sure @Aaishpra. Assigning this to you as there was no response from @bhumikasharma29

[2020-09-26 23:53] NarimaneHennouni commented on #137
@Techno-Disaster Hi, I was wondering if I am allowed to use Firebase for Google and Apple sign in?

[2020-09-27 06:30] techno-disaster commented on #137
No, we already have a backend PR up. If you merge that and host the baco locally you should see the social media sign in endpoints

[2020-09-27 11:04] NarimaneHennouni commented on #137
So I only need to work on the UI?

[2020-09-27 16:24] techno-disaster commented on #137
@naman1901 No, host the mentorship backend locally, merge the social logins branch linked above and  integrate the google and apple login in the flutter app

[2020-09-29 08:49] rohankumawat commented on #141
I would like to work on this!
I think that I've to make documentation for the testers on how to test a new feature of the app.
Can you assign me this?

[2020-09-29 09:37] techno-disaster commented on #141
Done.

[2020-09-29 18:19] rohankumawat commented on #141
I've tried to make a Guide for the Testing team.
I hope it's fine.
Thank you 😄.

[2020-10-06 19:20] carrycooldude commented on #81
**Is anyone working on this I want to work on this if no-one is doing this....**

[2020-11-10 21:06] #141 closed

[2020-11-17 21:01] techno-disaster commented on #137
@NarimaneHennouni any updates on this issue?

[2020-11-17 21:04] Techno-Disaster opened #145 "Upgrade to bloc 6.1.0"
**Describe the bug**
Bloc 6.1.0 released recently and it has some breaking changes. For example, context.bloc is deprecated. This will throw out warnings in the project.

[2020-11-17 21:04] techno-disaster commented on #145
@anitab-org/mentorship-managers can I work on this?

[2020-11-18 04:29] Akanksha1212 commented on #145
Sure.

[2020-11-25 06:43] sunitapt opened #146 "Add delete my account feature"
## Description
As a user,
I need to add the **delete my account** feature to the settings screen.
so that I can or anyone can delete the account from the settings tab.

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-11-25 08:18] epicadk commented on #146
This has not been implemented as it messed up the backend.

 https://github.com/anitab-org/mentorship-android/issues/753

[2020-11-25 12:58] sunitapt commented on #146
ok. so it has implemented earlier but removed because of an issue. so this feature will not be included in the app, won't it?

[2020-11-25 14:37] epicadk commented on #146
Not sure please ask one of the maintainers.

[2020-11-25 18:05] somayaj commented on #122
hi is this available to be worked on?

[2020-12-03 00:19] techno-disaster commented on #146
Putting this on hold because the delete functionality is still messed up on the backend so we can't add this back yet.

[2020-12-03 00:46] techno-disaster commented on #145
Small update we haven't used anything from the bloc package in the app yet. Everything is from flutter_bloc. Sending a normal deps update PR asap

[2020-12-03 00:50] techno-disaster commented on #137
Unassigning due to no response. Please feel free to be assigned to this issue once again if you start working on it or are stuck somewhere.

[2020-12-03 03:19] sunitapt commented on #146
ok @Techno-Disaster .if it's messing up it can be done later. Thank you so much for replying.

[2020-12-12 05:43] amlannandy opened #149 "Regex Based Validation for Email and Password during Registration"
**Is your feature request related to a problem? Please describe.**
Currently during Registration, Email and Password are checked only to ensure they are non empty values. Proper validation must be done to ensure they are valid values.

**Describe the solution you'd like**
Regex Based Validation

**Describe alternatives you've considered**
N/A

**Additional context**
![Mentorship Issue](https://use

[2020-12-12 05:46] amlannandy commented on #149
If the maintainers think this is a valid issue, then I'd like to work on the same.

[2020-12-25 18:22] PaRaDoX50 commented on #137
@Techno-Disaster Can you please assign this to me?

[2020-12-26 07:05] techno-disaster commented on #137
Sure.

[2021-01-04 06:58] PaRaDoX50 commented on #137
@Techno-Disaster Will I need to merge the Yugantar's social-sign-in branch with the current develop branch and use it as a backend locally or can I just directly use Yugantar's social-sign-in branch ? In the first case, there are a lot of conflicts which I will have to resolve.

[2021-01-04 10:04] techno-disaster commented on #137
If you can, it would be better to merges Yugantar's branch locally with the current develop to get the backend up to date.

[2021-01-14 13:45] KevalPrajapati opened #151 "Confirm password field while changing password"
**Is your feature request related to a problem? Please describe.**
The android app has a confirm password field while changing password which I think is needed in the flutter app.

<img src="https://user-images.githubusercontent.com/63007835/104597995-0b55ee80-569c-11eb-9440-581f0305ce7a.png" width="200" height="400" />

**Describe the solution you'd like**
If the issue is valid, I would like to w

[2021-01-16 03:41] techno-disaster commented on #151
@anitab-org/coding-team first timer issue available.

[2021-01-16 03:42] techno-disaster commented on #149
@amlannandy are you still available to work on this issue?

[2021-01-16 05:03] KevalPrajapati commented on #151
I am first timer. Please assign me the issue.

[2021-01-16 05:06] keshakaneria commented on #151
Go for it

[2021-01-16 06:02] KevalPrajapati commented on #151
Someone added the field

[2021-01-16 06:09] KevalPrajapati commented on #149
Someone added the confirm password field. So if amlannandy is not available for work, I can work on this.

[2021-01-16 06:13] amlannandy commented on #149
@Techno-Disaster Hey. I don't think I'd be able to work on this atm.
@KevalPrajapati Feel free to take this up. :)

[2021-01-16 06:22] KevalPrajapati commented on #149
Thanks for informing. I can work on this @Techno-Disaster

[2021-01-16 08:13] keshakaneria commented on #151
Since this issue is already created, closing this issue.

[2021-01-16 08:13] #151 closed

[2021-01-16 10:13] KevalPrajapati opened #153 "Register page confirm password doesn't work"
**Describe the bug**
The confirm password function of the register page doesn't seem to work. Even if the password and confirm password don't match, the confirmation email is sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the signup page
2. Fill the detail. Enter different passwords in the password and confirm password fields.
3. Click signup
4. The confirmation email is sent

*

[2021-01-16 11:36] battuAshita commented on #81
Hi @Techno-Disaster. Is this issue open? If open, can this be assigned to me?

[2021-01-16 11:44] KevalPrajapati commented on #81
Waiting for backend implementation.

[2021-01-16 11:48] battuAshita commented on #81
Ok.

[2021-01-16 19:58] techno-disaster commented on #153
Thanks for reporting this. Looks like we missed this.

[2021-01-17 15:30] KevalPrajapati commented on #153
I will do it with the regex part.

[2021-01-17 15:45] techno-disaster commented on #153
Hey @KevalPrajapati, this is a first timer issue. Let's keep it available for new people who want to contribute to the repo

[2021-01-17 15:51] KevalPrajapati commented on #153
Okay. Great.

[2021-01-20 14:13] utkarshshendge commented on #153
Hi, I would like to work on this.

[2021-01-25 18:19] Techno-Disaster opened #154 "feat"
**Is your feature request related to a problem? Please describe.**
Currently we use Github actions to build on every PR and create a artifact where the testing team can download it to test the changes. We also use travis CI for building a apk and pushing it to the apk branch after every push to the develop branch.

**Describe the solution you'd like**
We should remove travis ci as we have exceded

[2021-01-25 18:20] techno-disaster commented on #154
@anitab-org/mentorship-managers Can I work on this?